:root {

	--vert-qui-pete: hsl(120, 100%, 50%);
	--rouge-sang:    hsl(  0, 100%, 50%);
	--noir:          hsl(120,   0%,  0%);

	--color--primary:   var(--noir);
	--color--secondary: var(--vert-qui-pete);
	--color--need:      var(--rouge-sang);
	--color--offer:     var(--vert-qui-pete);

	--color--gchange-primary:   hsl(44.8, 86.1%, 60.4%);
	--color--gchange-secondary: hsl(28.2, 70.8%, 52.9%);
}

body {

	background-color: var(--noir);
}


a,
a:visited {

	color: white;
	text-decoration: none;
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  Menu
 */

#menu {

    background-color: hsl(0, 0%, 10%);
    box-shadow: 0.5rem 0 0.5rem hsl(0, 0%, 5%);
}

#menu > ul > li > a.active {

    background-color: hsl(0, 0%, 20%);
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  Panel
 */


#panel {

	color: white;

	background-image: url('img/textures/panel-bg.jpg');
	background-size: 128px;
	background-repeat: repeat;
}


#panel > #panel-details > article {

	background-image:
		  linear-gradient(to bottom, hsla(0, 0%, 10%, 0.95) 0%, hsla(0, 0%, 10%, 0.80) 100%)
		  , url('img/textures/panel-bg.jpg');
	  background-size: cover, 128px;
	  background-repeat: no-repeat, repeat;

	box-shadow: 0 0 0.5rem black;

	position: relative;
}

#panel:not(.loading) > #panel-details > article:nth-of-type(n).closed:not(.last-fully-loaded) ,
#panel.loading       > #panel-details > article:nth-of-type(n).closed.last-fully-loaded       ,
#panel:not(.loading) > #panel-details > article:nth-of-type(n).closed.last-fully-loaded       ,
#panell.loading      > #panel-details > article:nth-of-type(n).closed:not(.last-fully-loaded) {

	max-height: 0 !important;
	overflow: hidden;
}

#panel         > #panel-details > article:first-of-type:not(.last-fully-loaded) > div {

	display: flex;
	flex-direction: column-reverse;
	overflow: hidden;
}

#panel         > #panel-details > article:first-of-type:not(.last-fully-loaded) {

	overflow: hidden;
	display: flex;
	flex-direction: column;

	height: auto;
	max-height: 666vh;

	transition-property: max-height;
}

#panel.loading > #panel-details > article:first-of-type:not(.last-fully-loaded) {

	max-height: 0vh;
}

#panel         > #panel-details > article:first-of-type:not(.last-fully-loaded)  {

	transition-duration: 2s;
}

#panel         > #panel-details > article.last-fully-loaded {


	transition-duration: 2s;

	transition-property: margin;

	margin-top: 0vh;
}

#panel.loading > #panel-details > article.last-fully-loaded {

	margin-top: 50vh;
}

#panel         > #panel-details > article:first-of-type,
#panel         > #panel-details > article.last-fully-loaded {

	transition-delay: 0s;
	transition-timing-function: ease-out;
}



#panel:before ,
#panel:after  {

	content: "";

	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

#panel:before {

	animation-name: vertical-sweep;
	animation-duration: 2.71828182846s;
	animation-direction: normal;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	background-image:
		linear-gradient(to bottom, transparent 0%, rgba(255, 0, 0, 0.5) 50%, transparent 100%), /* verticale 1 */
		linear-gradient(to bottom, transparent 0%, rgba(255, 0, 0, 0.5) 50%, transparent 100%), /* verticale 2 */
		linear-gradient(to bottom, transparent 0%, rgba(255, 0, 0, 0.5) 50%, transparent 100%); /* verticale 3 */
	background-size:
		100% 1rem,
		100% 1rem,
		100% 1rem;
	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat;
	background-position:
		0%   0%,
		0%  33%,
		0%  66%;
}

@keyframes vertical-sweep {
	0% {
		background-position:
			  0%     0%,
				  0%    33%,
					  0%    66%;
	}
	16.666% {
		background-position:
			  0%    33%,
				  0%    66%,
					  0%   100%;
	}
	33.333% {

		background-position:
			  0%    66%,
				  0%   100%,
					  0%    66%;
	}
	50% {
		background-position:
			  0%   100%,
				  0%    66%,
					  0%    33%;
	}
	66.666% {

		background-position:
			  0%    66%,
				  0%    33%,
					  0%     0%;
	}
	83.333% {

		background-position:
			  0%    33%,
				  0%     0%,
					  0%    33%;
	}
	100% {
		background-position:
			  0%     0%,
				  0%    33%,
					  0%    66%;
	}
}

#panel:after {

	animation-name: horizontal-sweep;
	animation-duration: 3.14159265359s;
	animation-direction: normal;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	background-image:
		  linear-gradient(to right, transparent 0%, rgba(255, 0, 0, 0.5) 50%, transparent 100%)
		, linear-gradient(to right, transparent 0%, rgba(255, 0, 0, 0.5) 50%, transparent 100%)
		, linear-gradient(to right, transparent 0%, rgba(255, 0, 0, 0.5) 50%, transparent 100%);
	background-size:
		  1rem 100%
		, 1rem 100%
		, 1rem 100%;
	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat;
}

@keyframes horizontal-sweep {
	0% {
		background-position:
			  0%   0%,
				 33%   0%,
					 66%   0%;
	}
	16.666% {
		background-position:
			 33%   0%,
				 66%   0%,
					100%   0%;
	}
	33.333% {

		background-position:
			 66%   0%,
				100%   0%,
					 66%   0%;
	}
	50% {
		background-position:
			100%   0%,
				 66%   0%,
					 33%   0%;
	}
	66.666% {

		background-position:
			 66%   0%,
				 33%   0%,
					  0%   0%;
	}
	83.333% {

		background-position:
			 33%   0%,
				  0%   0%,
					 33%   0%;
	}
	100% {
		background-position:
			  0%   0%,
				 33%   0%,
					 66%   0%;
	}
}



#panel-details article .category {

	color: hsl(0, 0%, 80%);
}

#panel-details article .category:before {

	filter: saturate(0) brightness(2.5);
}

#panel > #panel-details > article .pictures {

	background-color: black;
}

#panel > #panel-details > article .link-to-gchange a {

	background-color: var(--color--gchange-primary);
	border-color: var(--color--gchange-secondary);
	border-style: solid;
	border-radius: 1rem;

	color: black;
	font-weight: bold;
	font-family: sans-serif;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Radius
 */

#radius {

	color: var(--color--secondary);
	background-color: var(--color--primary);
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  Categories icons
 */

.screen#actu       .list .ad a:before   ,
.screen#dormant    .list .ad a:before   ,
.screen#events     .list .ad a:before   ,
.screen#shippable  .list > .ad a:before ,
.screen#immaterial .list > .ad a:before ,
.screen#luxuries   .list > .ad a:before ,
.screen#exchange   .list > .ad a:before ,
#panel-details article .category:before {

	content: " ";

	background-repeat: no-repeat;
	background-position: center center;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Screens
 */

.screen {

	background-color: var(--color--primary);

	border-style: inset;
	border-color: gray;

	transform: translateY(-125vh) scale(1.25);

	z-index: 1000;
}

.screen.active {

	transform: translateY(0vh) scale(1);

	transition-property: transform;
	transition-duration: 1s;
	transition-delay: 0;
	transition-timing-function: ease-out;
}

.screen.last-active-screen {

	transform: translateY(100vh)  scale(1);

	transition-property: transform;
	transition-duration: 0.5s;
	transition-delay: 0;
	transition-timing-function: ease-in;
}


.screen.loading:after {

	color: var(--color--secondary);
}

.buttonContainer .detect {

	border-style: solid;
	border-color: var(--color--secondary);

	background-color: var(--color--primary);
	color: var(--color--secondary);

	cursor: pointer;
}

.buttonContainer .errorMessage {

	color: red;

}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Screens displayed as a radar (on desktop)
 */


.screen#dormant    .list ,
.screen#events     .list ,
.screen#actu       .list {

	cursor: crosshair;
}

.screen#actu        .list {

	border-style: solid;
	border-color: var(--color--secondary);
}

.screen#events      .list {

	border-style: solid;
	border-color: red;
}

.screen#dormant     .list {

	border-style: solid;
	border-color: hsl(42.2, 100%, 54.3%);

	background: hsl(53.7, 100%, 81.4%);
}

.screen#actu    .list.has-ad-selected .ad ,
.screen#events  .list.has-ad-selected .ad ,
.screen#dormant .list.has-ad-selected .ad {

	animation-play-state: paused !important;
}

.screen#dormant .list:not(.has-ad-selected) .ad ,
.screen#actu    .list:not(.has-ad-selected) .ad ,
.screen#events  .list:not(.has-ad-selected) .ad {

	animation-play-state: running !important;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Ads in
 * >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> screens displayed as a radar (on desktop)
 */

@media screen and (max-width: 49.999rem) {

	.screen#actu    .list .ad,
	.screen#events  .list .ad,
	.screen#dormant .list .ad {

		animation: none !important;

		border-top-color:    var(--color--primary);
		border-bottom-color: var(--color--primary);
	}

	.screen#actu        .list > .ad ,
	.screen#events      .list > .ad ,
	.screen#dormant     .list > .ad {

		transition-property: color;
		transition-duration: 0.2s;
		transition-timing-function: ease-out;
	}

	.screen#actu        .list > .ad ,
	.screen#events      .list > .ad ,
	.screen#dormant     .list > .ad {

		background-color: hsl(40, 60%, 50%);
		color: hsl(0, 0%, 0%);
	}

	.screen#actu        .list > .ad:hover ,
	.screen#events      .list > .ad:hover ,
	.screen#dormant     .list > .ad:hover {

		background-color: hsl(40, 60%, 50%);
		color: hsl(0, 0%, 0%);
	}


	.screen#actu       .list > .ad.selected ,
	.screen#events     .list > .ad.selected ,
	.screen#dormant    .list > .ad.selected {

		color: hsl(0, 60%, 58%);
		background-color: hsl(40, 60%, 3%);
	}

	.screen#actu       .list > .ad.selected a:before ,
	.screen#events     .list > .ad.selected a:before ,
	.screen#dormant    .list > .ad.selected a:before {

		filter: saturate(0.38) brightness(2) contrast(1.50);
	}

}

@media screen and (min-width: 50rem) {

	.screen#actu    .list .ad,
	.screen#events  .list .ad,
	.screen#dormant .list .ad {

		cursor: pointer;

		background-color: white;

		box-shadow: 0 0 0.125rem 0 black;

		border-style: solid;
		border-color: black;
	}
}

.screen#actu       .list > .ad.record.offer ,
.screen#dormant    .list > .ad.record.offer {

    background-color: hsl(120, 100%, 50%);
}

.screen#actu       .list > .ad.record.need ,
.screen#dormant    .list > .ad.record.need {

    background-color: hsl(0, 100%, 50%);
}

.screen#actu        .list > .ad.record.offer a:before ,
.screen#dormant     .list > .ad.record.offer a:before {

	filter: hue-rotate(60deg) saturate(0.02) brightness(0.4);
}

.screen#actu        .list > .ad.record.need a:before ,
.screen#dormant     .list > .ad.record.need a:before {

	filter: hue-rotate(00deg) saturate(0.02) brightness(0.4);
}

.screen#actu       .list > .ad.selected ,
.screen#dormant    .list > .ad.selected {

	opacity: 1 !important;
	animation: none !important;
}

.screen#actu       .list > .ad.record.offer.selected ,
.screen#dormant    .list > .ad.record.offer.selected {

	border-color: white;
	background-color: white;
	box-shadow:
		0 0 3px 3px white,
		0 0 3px 6px hsl(120, 100%,  0%);
}

.screen#actu       .list > .ad.record.need.selected ,
.screen#dormant    .list > .ad.record.need.selected {

	border-color: white;
	background-color: white;
	box-shadow:
		0 0 3px 3px white,
		0 0 3px 6px hsl(0, 100%,  0%);
}

.screen#actu        .list > .ad.record.offer.selected a:before ,
.screen#dormant     .list > .ad.record.offer.selected a:before {

	filter: hue-rotate(60deg) saturate(0.02) brightness(0.4);
}

.screen#actu        .list > .ad.record.need.selected a:before ,
.screen#dormant     .list > .ad.record.need.selected a:before {

	filter: hue-rotate(00deg) saturate(0.02) brightness(0.4);
}


.screen#events     .list > .ad {

	background-color: white;
	background-image: radial-gradient(white 0%, red 50%, red 100%);

	animation-timing-function: linear;
	animation-duration: infinite;
}

.screen#events     .list > .ad a:before {

	filter: hue-rotate(0deg) saturate(0.02) brightness(0.4);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Ads animations
 */

@keyframes blink-event {
	0% {

		background-image: radial-gradient(white 0%, red 50%, red 100%);
	}

	16.666% {

		background-image: radial-gradient(white 0%, white 50%, red 100%)
	}

	33.333% {

		background-image: radial-gradient(red 0%, red 25%, white 75%, red 100%)
	}

	50% {

		background-image: radial-gradient(red 0%, red 50%, white 100%)
	}

	66.666% {

		background-image: radial-gradient(white 0%, red 25%, red 75%, white 100%)
	}

	83.333% {

		background-image: radial-gradient(white 0%, red 50%, red 100%);
	}

	100% {

		background-image: radial-gradient(white 0%, red 50%, red 100%);
	}
}

@keyframes blink-offer {
	0% {

		background-color: hsl(120, 80%, 5%);
		color: hsl(120, 80%, 5%);
	}

	50% {

		background-color: hsl(120, 100%, 50%);
		color: hsl(120, 0%, 0%);
	}

	100% {

		background-color: hsl(120, 80%, 5%);
		color: hsl(120, 80%, 5%);
	}
}

@keyframes blink-need {
	0% {

		background-color: hsl(0, 80%, 5%);
		color: hsl(0, 80%, 5%);
	}

	50% {

		background-color: hsl(0, 100%, 50%);
		color: hsl(0, 0%, 0%);
	}

	100% {

		background-color: hsl(0, 80%, 5%);
		color: hsl(0, 80%, 5%);
	}
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Shippable & Immaterial
 */


.screen#shippable   .list > .ad a ,
.screen#immaterial  .list > .ad a {

	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

.screen#shippable   .list > .ad:nth-child(3n + 1) a ,
.screen#immaterial  .list > .ad:nth-child(3n + 1) a {

	background-color: hsl(240, 50%, 53%);
	color: hsl(240, 50%, 90%);
}

.screen#shippable   .list > .ad:nth-child(3n + 1) a:hover ,
.screen#immaterial  .list > .ad:nth-child(3n + 1) a:hover {

	background-color: hsl(240, 50%, 43%);
	color: hsl(240, 50%, 99%);
}

.screen#shippable   .list > .ad:nth-child(3n + 2) a ,
.screen#immaterial  .list > .ad:nth-child(3n + 2) a {

	background-color: hsl(240, 50%, 55%);
	color: hsl(240, 50%, 90%);
}

.screen#shippable   .list > .ad:nth-child(3n + 2) a:hover ,
.screen#immaterial  .list > .ad:nth-child(3n + 2) a:hover {

	background-color: hsl(240, 50%, 45%);
	color: hsl(240, 50%, 99%);
}

.screen#shippable   .list > .ad:nth-child(3n + 3) a ,
.screen#immaterial  .list > .ad:nth-child(3n + 3) a {

	background-color: hsl(240, 50%, 58%);
	color: hsl(240, 50%, 90%);
}

.screen#shippable   .list > .ad:nth-child(3n + 3) a:hover ,
.screen#immaterial  .list > .ad:nth-child(3n + 3) a:hover {

	background-color: hsl(240, 50%, 45%);
	color: hsl(240, 50%, 99%);
}

.screen#shippable   .list > .ad:nth-child(3n + 1) a:before ,
.screen#immaterial  .list > .ad:nth-child(3n + 1) a:before {

	filter: hue-rotate(240deg) saturate(0.02) brightness(4.0);
}


.screen#shippable   .list > .ad:nth-child(3n + 2) a:before ,
.screen#immaterial  .list > .ad:nth-child(3n + 2) a:before {

	filter: hue-rotate(240deg) saturate(0.02) brightness(4.0);
}


.screen#shippable   .list > .ad:nth-child(3n + 3) a:before ,
.screen#immaterial  .list > .ad:nth-child(3n + 3) a:before {

	filter: hue-rotate(240deg) saturate(0.02) brightness(4.0);
}

.screen#shippable  .list .ad:nth-child(n).selected a ,
.screen#immaterial .list .ad:nth-child(n).selected a {

	color: hsl(210, 4.5%, 8.6%);
	background-color: hsl(240, 50%, 97%);
}


.screen#shippable  .list .ad:nth-child(n).selected a:before ,
.screen#immaterial .list .ad:nth-child(n).selected a:before {

	filter: hue-rotate(240deg) saturate(0.02) brightness(0.4);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Luxuries & Exchange
 */

.screen#luxuries    .list > .ad a ,
.screen#exchange    .list > .ad a {

	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

.screen#luxuries    .list > .ad:nth-child(3n + 1) a ,
.screen#exchange    .list > .ad:nth-child(3n + 1) a {

	background-color: hsl(40, 60%, 50%);
	color: hsl(40, 0%, 0%);
}

.screen#luxuries    .list > .ad:nth-child(3n + 1) a:hover ,
.screen#exchange    .list > .ad:nth-child(3n + 1) a:hover {

	background-color: hsl(40, 80%, 85%);
	color: hsl(40, 0%, 0%);
}

.screen#luxuries    .list > .ad:nth-child(3n + 2) a ,
.screen#exchange    .list > .ad:nth-child(3n + 2) a {

	background-color: hsl(40, 60%, 55%);
	color: hsl(40, 0%, 0%);
}

.screen#luxuries    .list > .ad:nth-child(3n + 2) a:hover ,
.screen#exchange    .list > .ad:nth-child(3n + 2) a:hover {

	background-color: hsl(40, 80%, 85%);
	color: hsl(40, 0%, 0%);
}

.screen#luxuries    .list > .ad:nth-child(3n + 3) a ,
.screen#exchange    .list > .ad:nth-child(3n + 3) a {

	background-color: hsl(40, 60%, 58%);
	color: hsl(40, 0%, 0%);
}

.screen#luxuries    .list > .ad:nth-child(3n + 3) a:hover ,
.screen#exchange    .list > .ad:nth-child(3n + 3) a:hover {

	background-color: hsl(40, 80%, 85%);
	color: hsl(40, 0%, 0%);
}

.screen#luxuries    .list > .ad:nth-child(3n + 1) a:before ,
.screen#exchange    .list > .ad:nth-child(3n + 1) a:before {

	filter: hue-rotate(40deg) saturate(0.02) brightness(0.4);
}


.screen#luxuries    .list > .ad:nth-child(3n + 2) a:before ,
.screen#exchange    .list > .ad:nth-child(3n + 2) a:before {

	filter: hue-rotate(40deg) saturate(0.02) brightness(0.4);
}


.screen#luxuries    .list > .ad:nth-child(3n + 3) a:before ,
.screen#exchange    .list > .ad:nth-child(3n + 3) a:before {

	filter: hue-rotate(40deg) saturate(0.02) brightness(0.4);
}

.screen#luxuries   .list .ad:nth-child(n).selected a ,
.screen#exchange   .list .ad:nth-child(n).selected a {

	color: hsl(40, 60%, 58%);
	background-color: hsl(40, 60%, 3%);
}

.screen#luxuries   .list .ad:nth-child(n).selected a:before ,
.screen#exchange   .list .ad:nth-child(n).selected a:before {

	filter: hue-rotate(60deg) saturate(0.38) brightness(2) contrast(1.50);
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  Market research
 */

.screen#marketResearch {

	background-color: var(--color--secondary);
	color: var(--color--primary);
}


