
/* =========================== Icons =========================== */


.screen#actu       .list .ad.cat3 a:before   ,
.screen#dormant    .list .ad.cat3 a:before   ,
.screen#shippable  .list .ad.cat3 a:before   ,
.screen#immaterial .list .ad.cat3 a:before   ,
.screen#luxuries   .list .ad.cat3 a:before   ,
#panel-details article.cat3 .category:before {
	/* Moto */

	content: url("img/FontAwesome/svg/motorcycle-solid.svg");
}

.screen#actu       .list .ad.cat6 a:before   ,
.screen#dormant    .list .ad.cat6 a:before   ,
.screen#shippable  .list .ad.cat6 a:before   ,
.screen#immaterial .list .ad.cat6 a:before   ,
.screen#luxuries   .list .ad.cat6 a:before   ,
#panel-details article.cat6 .category:before {
	/* Équipement auto */

	content: url("img/FontAwesome/svg/car-side-solid.svg");
}

.screen#actu       .list .ad.cat10 a:before   ,
.screen#dormant    .list .ad.cat10 a:before   ,
.screen#shippable  .list .ad.cat10 a:before   ,
.screen#immaterial .list .ad.cat10 a:before   ,
.screen#luxuries   .list .ad.cat10 a:before   ,
#panel-details article.cat10 .category:before {
	/* Locations */

	content: url("img/FontAwesome/svg/retweet-solid.svg");
}

.screen#actu       .list .ad.cat11 a:before   ,
.screen#dormant    .list .ad.cat11 a:before   ,
.screen#shippable  .list .ad.cat11 a:before   ,
.screen#immaterial .list .ad.cat11 a:before   ,
.screen#luxuries   .list .ad.cat11 a:before   ,
#panel-details article.cat11 .category:before {
	/* Colocations */

	content: url("img/FontAwesome/svg/house-flag-solid.svg");
}

.screen#actu       .list .ad.cat12 a:before   ,
.screen#dormant    .list .ad.cat12 a:before   ,
.screen#shippable  .list .ad.cat12 a:before   ,
.screen#immaterial .list .ad.cat12 a:before   ,
.screen#luxuries   .list .ad.cat12 a:before   ,
#panel-details article.cat12 .category:before {
	/* Location & Gîtes */

	content: url("img/FontAwesome/svg/bed-solid.svg");
}

.screen#actu       .list .ad.cat13 a:before   ,
.screen#dormant    .list .ad.cat13 a:before   ,
.screen#shippable  .list .ad.cat13 a:before   ,
.screen#immaterial .list .ad.cat13 a:before   ,
.screen#luxuries   .list .ad.cat13 a:before   ,
#panel-details article.cat13 .category:before {
	/* Bureaux & Commerces */

	content: url("img/FontAwesome/svg/building-solid.svg");
}

.screen#actu       .list .ad.cat15 a:before   ,
.screen#dormant    .list .ad.cat15 a:before   ,
.screen#shippable  .list .ad.cat15 a:before   ,
.screen#immaterial .list .ad.cat15 a:before   ,
.screen#luxuries   .list .ad.cat15 a:before   ,
#panel-details article.cat15 .category:before {
	/* Informatique */

	content: url("img/FontAwesome/svg/computer-solid.svg");
}

.screen#actu       .list .ad.cat16 a:before   ,
.screen#dormant    .list .ad.cat16 a:before   ,
.screen#shippable  .list .ad.cat16 a:before   ,
.screen#immaterial .list .ad.cat16 a:before   ,
.screen#luxuries   .list .ad.cat16 a:before   ,
#panel-details article.cat16 .category:before {
	/* Image & Son */

	content: url("img/FontAwesome/svg/compact-disc-solid.svg");
}

.screen#actu       .list .ad.cat17 a:before   ,
.screen#dormant    .list .ad.cat17 a:before   ,
.screen#shippable  .list .ad.cat17 a:before   ,
.screen#immaterial .list .ad.cat17 a:before   ,
.screen#luxuries   .list .ad.cat17 a:before   ,
#panel-details article.cat17 .category:before {
	/* Téléphonie */

	content: url("img/FontAwesome/svg/mobile-solid.svg");
}

.screen#actu       .list .ad.cat19 a:before   ,
.screen#dormant    .list .ad.cat19 a:before   ,
.screen#shippable  .list .ad.cat19 a:before   ,
.screen#immaterial .list .ad.cat19 a:before   ,
.screen#luxuries   .list .ad.cat19 a:before   ,
#panel-details article.cat19 .category:before {
	/* Ameublement */

	content: url("img/FontAwesome/svg/couch-solid.svg");
}

.screen#actu       .list .ad.cat20 a:before   ,
.screen#dormant    .list .ad.cat20 a:before   ,
.screen#shippable  .list .ad.cat20 a:before   ,
.screen#immaterial .list .ad.cat20 a:before   ,
.screen#luxuries   .list .ad.cat20 a:before   ,
#panel-details article.cat20 .category:before {
	/* Électroménager */

	content: url("img/FontAwesome/svg/blender-solid.svg");
}

.screen#actu       .list .ad.cat21 a:before   ,
.screen#dormant    .list .ad.cat21 a:before   ,
.screen#shippable  .list .ad.cat21 a:before   ,
.screen#immaterial .list .ad.cat21 a:before   ,
.screen#luxuries   .list .ad.cat21 a:before   ,
#panel-details article.cat21 .category:before {
	/* Bricolage */

	content: url("img/FontAwesome/svg/hammer-solid.svg");
}

.screen#actu       .list .ad.cat22 a:before   ,
.screen#dormant    .list .ad.cat22 a:before   ,
.screen#shippable  .list .ad.cat22 a:before   ,
.screen#immaterial .list .ad.cat22 a:before   ,
.screen#luxuries   .list .ad.cat22 a:before   ,
#panel-details article.cat22 .category:before {
	/* Vêtements */

	content: url("img/FontAwesome/svg/shirt-solid.svg");
}

.screen#actu       .list .ad.cat23 a:before   ,
.screen#dormant    .list .ad.cat23 a:before   ,
.screen#shippable  .list .ad.cat23 a:before   ,
.screen#immaterial .list .ad.cat23 a:before   ,
.screen#luxuries   .list .ad.cat23 a:before   ,
#panel-details article.cat23 .category:before {
	/* Vêtements */

	content: url("img/FontAwesome/svg/baby-carriage-solid.svg");
}

.screen#actu       .list .ad.cat27 a:before   ,
.screen#dormant    .list .ad.cat27 a:before   ,
.screen#shippable  .list .ad.cat27 a:before   ,
.screen#immaterial .list .ad.cat27 a:before   ,
.screen#luxuries   .list .ad.cat27 a:before   ,
#panel-details article.cat27 .category:before {
	/* Livres */

	content: url("img/FontAwesome/svg/book-solid.svg");
}

.screen#actu       .list .ad.cat28 a:before   ,
.screen#dormant    .list .ad.cat28 a:before   ,
.screen#shippable  .list .ad.cat28 a:before   ,
.screen#immaterial .list .ad.cat28 a:before   ,
.screen#luxuries   .list .ad.cat28 a:before   ,
#panel-details article.cat28 .category:before {
	/* Animaux */

	content: url("img/FontAwesome/svg/dog-solid.svg");
}

.screen#actu       .list .ad.cat29 a:before   ,
.screen#dormant    .list .ad.cat29 a:before   ,
.screen#shippable  .list .ad.cat29 a:before   ,
.screen#immaterial .list .ad.cat29 a:before   ,
.screen#luxuries   .list .ad.cat29 a:before   ,
#panel-details article.cat29 .category:before {
	/* Sports & Hobbies */

	content: url("img/FontAwesome/svg/baseball-bat-ball-solid.svg");
}

.screen#actu       .list .ad.cat30 a:before   ,
.screen#dormant    .list .ad.cat30 a:before   ,
.screen#shippable  .list .ad.cat30 a:before   ,
.screen#immaterial .list .ad.cat30 a:before   ,
.screen#luxuries   .list .ad.cat30 a:before   ,
#panel-details article.cat30 .category:before {
	/* Instruments de musique */

	content: url("img/FontAwesome/svg/guitar-solid.svg");
}

.screen#actu       .list .ad.cat34 a:before   ,
.screen#dormant    .list .ad.cat34 a:before   ,
.screen#shippable  .list .ad.cat34 a:before   ,
.screen#immaterial .list .ad.cat34 a:before   ,
.screen#luxuries   .list .ad.cat34 a:before   ,
#panel-details article.cat34 .category:before {
	/* Prestations de services */

	content: url("img/FontAwesome/svg/handshake-angle-solid.svg");
}

.screen#actu       .list .ad.cat36 a:before   ,
.screen#dormant    .list .ad.cat36 a:before   ,
.screen#shippable  .list .ad.cat36 a:before   ,
.screen#immaterial .list .ad.cat36 a:before   ,
.screen#luxuries   .list .ad.cat36 a:before   ,
#panel-details article.cat36 .category:before {
	/* Cours particuliers */

	content: url("img/FontAwesome/svg/person-chalkboard-solid.svg");
}

.screen#actu       .list .ad.cat38 a:before   ,
.screen#dormant    .list .ad.cat38 a:before   ,
.screen#shippable  .list .ad.cat38 a:before   ,
.screen#immaterial .list .ad.cat38 a:before   ,
.screen#luxuries   .list .ad.cat38 a:before   ,
#panel-details article.cat38 .category:before {
	/* Autres */

	content: url("img/FontAwesome/svg/question-solid.svg");
}

.screen#actu       .list .ad.cat39 a:before   ,
.screen#dormant    .list .ad.cat39 a:before   ,
.screen#shippable  .list .ad.cat39 a:before   ,
.screen#immaterial .list .ad.cat39 a:before   ,
.screen#luxuries   .list .ad.cat39 a:before   ,
#panel-details article.cat39 .category:before {
	/* Décoration */

	content: url("img/FontAwesome/svg/holly-berry-solid.svg");
}

.screen#actu       .list .ad.cat40 a:before   ,
.screen#dormant    .list .ad.cat40 a:before   ,
.screen#shippable  .list .ad.cat40 a:before   ,
.screen#immaterial .list .ad.cat40 a:before   ,
.screen#luxuries   .list .ad.cat40 a:before   ,
#panel-details article.cat40 .category:before {
	/* Collection */

	content: url("img/FontAwesome/svg/gem-regular.svg");
}

.screen#actu       .list .ad.cat41 a:before   ,
.screen#dormant    .list .ad.cat41 a:before   ,
.screen#shippable  .list .ad.cat41 a:before   ,
.screen#immaterial .list .ad.cat41 a:before   ,
.screen#luxuries   .list .ad.cat41 a:before   ,
#panel-details article.cat41 .category:before {
	/* Jeux */

	content: url("img/FontAwesome/svg/chess-knight-solid.svg");
}

.screen#actu       .list .ad.cat42 a:before   ,
.screen#dormant    .list .ad.cat42 a:before   ,
.screen#shippable  .list .ad.cat42 a:before   ,
.screen#immaterial .list .ad.cat42 a:before   ,
.screen#luxuries   .list .ad.cat42 a:before   ,
#panel-details article.cat42 .category:before {
	/* Montres et Bijoux */

	content: url("img/FontAwesome/svg/ring-solid.svg");
}

.screen#actu       .list .ad.cat45 a:before   ,
.screen#dormant    .list .ad.cat45 a:before   ,
.screen#shippable  .list .ad.cat45 a:before   ,
.screen#immaterial .list .ad.cat45 a:before   ,
.screen#luxuries   .list .ad.cat45 a:before   ,
#panel-details article.cat45 .category:before {
	/* Arts de la table */

	content: url("img/FontAwesome/svg/wine-glass-empty-solid.svg");
}

.screen#actu       .list .ad.cat46 a:before   ,
.screen#dormant    .list .ad.cat46 a:before   ,
.screen#shippable  .list .ad.cat46 a:before   ,
.screen#immaterial .list .ad.cat46 a:before   ,
.screen#luxuries   .list .ad.cat46 a:before   ,
#panel-details article.cat46 .category:before {
	/* Linge de maison */

	content: url("img/FontAwesome/svg/mattress-pillow-solid.svg");
}

.screen#actu       .list .ad.cat47 a:before   ,
.screen#dormant    .list .ad.cat47 a:before   ,
.screen#shippable  .list .ad.cat47 a:before   ,
.screen#immaterial .list .ad.cat47 a:before   ,
.screen#luxuries   .list .ad.cat47 a:before   ,
#panel-details article.cat47 .category:before {
	/* Accessoires & Bagagerie */

	content: url("img/FontAwesome/svg/suitcase-rolling-solid.svg");
}
.screen#actu       .list .ad.cat48 a:before   ,
.screen#dormant    .list .ad.cat48 a:before   ,
.screen#shippable  .list .ad.cat48 a:before   ,
.screen#immaterial .list .ad.cat48 a:before   ,
.screen#luxuries   .list .ad.cat48 a:before   ,
#panel-details article.cat48 .category:before {
	/* Divers (sous-catégorie de "Alimentation"   , en théorie) */

	content: url("img/FontAwesome/svg/question-solid.svg");
}

.screen#actu       .list .ad.cat49 a:before   ,
.screen#dormant    .list .ad.cat49 a:before   ,
.screen#shippable  .list .ad.cat49 a:before   ,
.screen#immaterial .list .ad.cat49 a:before   ,
.screen#luxuries   .list .ad.cat49 a:before   ,
#panel-details article.cat49 .category:before {
	/* Évènements */

	content: url("img/FontAwesome/svg/calendar-check-regular.svg");
}

.screen#actu       .list .ad.cat50 a:before   ,
.screen#dormant    .list .ad.cat50 a:before   ,
.screen#shippable  .list .ad.cat50 a:before   ,
.screen#immaterial .list .ad.cat50 a:before   ,
.screen#luxuries   .list .ad.cat50 a:before   ,
#panel-details article.cat50 .category:before {
	/* Equipement Caravaning */

	content: url("img/FontAwesome/svg/caravan-solid.svg");
}

.screen#actu       .list .ad.cat52 a:before   ,
.screen#dormant    .list .ad.cat52 a:before   ,
.screen#shippable  .list .ad.cat52 a:before   ,
.screen#immaterial .list .ad.cat52 a:before   ,
.screen#luxuries   .list .ad.cat52 a:before   ,
#panel-details article.cat52 .category:before {
	/* Jardinage */

	content: url("img/FontAwesome/svg/seedling-solid.svg");
}

.screen#actu       .list .ad.cat53 a:before   ,
.screen#dormant    .list .ad.cat53 a:before   ,
.screen#shippable  .list .ad.cat53 a:before   ,
.screen#immaterial .list .ad.cat53 a:before   ,
.screen#luxuries   .list .ad.cat53 a:before   ,
#panel-details article.cat53 .category:before {
	/* Chaussures */

	content: url("img/FontAwesome/svg/shoe-prints-solid.svg");
}

.screen#actu       .list .ad.cat54 a:before   ,
.screen#dormant    .list .ad.cat54 a:before   ,
.screen#shippable  .list .ad.cat54 a:before   ,
.screen#immaterial .list .ad.cat54 a:before   ,
.screen#luxuries   .list .ad.cat54 a:before   ,
#panel-details article.cat54 .category:before {
	/* Vêtements bébé */

	content: url("img/FontAwesome/svg/baby-solid.svg");
}

.screen#actu       .list .ad.cat55 a:before   ,
.screen#dormant    .list .ad.cat55 a:before   ,
.screen#shippable  .list .ad.cat55 a:before   ,
.screen#immaterial .list .ad.cat55 a:before   ,
.screen#luxuries   .list .ad.cat55 a:before   ,
#panel-details article.cat55 .category:before {
	/* Vélos */

	content: url("img/FontAwesome/svg/bicycle-solid.svg");
}

.screen#actu       .list .ad.cat58 a:before   ,
.screen#dormant    .list .ad.cat58 a:before   ,
.screen#shippable  .list .ad.cat58 a:before   ,
.screen#immaterial .list .ad.cat58 a:before   ,
.screen#luxuries   .list .ad.cat58 a:before   ,
#panel-details article.cat58 .category:before {
	/* Transport - Manutention */

	content: url("img/FontAwesome/svg/truck-solid.svg");
}

.screen#actu .list .ad.cat6à a:before   ,
.screen#dormant    .list .ad.cat60 a:before   ,
.screen#shippable  .list .ad.cat60 a:before   ,
.screen#immaterial .list .ad.cat60 a:before   ,
.screen#luxuries   .list .ad.cat60 a:before   ,
#panel-details article.cat60 .category:before {
	/* Outillage - Matériaux 2nd-oeuvre */

	content: url("img/FontAwesome/svg/trowel-bricks-solid.svg");
}

.screen#actu       .list .ad.cat63 a:before   ,
.screen#dormant    .list .ad.cat63 a:before   ,
.screen#shippable  .list .ad.cat63 a:before   ,
.screen#immaterial .list .ad.cat63 a:before   ,
.screen#luxuries   .list .ad.cat63 a:before   ,
#panel-details article.cat63 .category:before {
	/* Commerces et Marchés */

	content: url("img/FontAwesome/svg/store-solid.svg");
}

.screen#actu       .list .ad.cat70 a:before   ,
.screen#dormant    .list .ad.cat70 a:before   ,
.screen#shippable  .list .ad.cat70 a:before   ,
.screen#immaterial .list .ad.cat70 a:before   ,
.screen#luxuries   .list .ad.cat70 a:before   ,
#panel-details article.cat70 .category:before {
	/* Formations */

	content: url("img/FontAwesome/svg/igloo-solid.svg");
}

.screen#actu       .list .ad.cat74 a:before   ,
.screen#dormant    .list .ad.cat74 a:before   ,
.screen#shippable  .list .ad.cat74 a:before   ,
.screen#immaterial .list .ad.cat74 a:before   ,
.screen#luxuries   .list .ad.cat74 a:before   ,
#panel-details article.cat74 .category:before {
	/* Formations */

	content: url("img/FontAwesome/svg/graduation-cap-solid.svg");
}

.screen#actu       .list .ad.cat81 a:before   ,
.screen#dormant    .list .ad.cat81 a:before   ,
.screen#shippable  .list .ad.cat81 a:before   ,
.screen#immaterial .list .ad.cat81 a:before   ,
.screen#luxuries   .list .ad.cat81 a:before   ,
#panel-details article.cat81 .category:before {
	/* Soins */

	content: url("img/FontAwesome/svg/life-ring-solid.svg");
}

.screen#actu       .list .ad.cat91 a:before   ,
.screen#dormant    .list .ad.cat91 a:before   ,
.screen#shippable  .list .ad.cat91 a:before   ,
.screen#immaterial .list .ad.cat91 a:before   ,
.screen#luxuries   .list .ad.cat91 a:before   ,
#panel-details article.cat91 .category:before {
	/* Commerces & Marchés */

	content: url("img/FontAwesome/svg/store-solid.svg");
}

.screen#actu       .list .ad.cat92 a:before   ,
.screen#dormant    .list .ad.cat92 a:before   ,
.screen#shippable  .list .ad.cat92 a:before   ,
.screen#immaterial .list .ad.cat92 a:before   ,
.screen#luxuries   .list .ad.cat92 a:before   ,
#panel-details article.cat92 .category:before {
	/* Fruits et légumes */

	content: url("img/FontAwesome/svg/carrot-solid.svg");
}

.screen#actu       .list .ad.cat93 a:before   ,
.screen#dormant    .list .ad.cat93 a:before   ,
.screen#shippable  .list .ad.cat93 a:before   ,
.screen#immaterial .list .ad.cat93 a:before   ,
.screen#luxuries   .list .ad.cat93 a:before   ,
#panel-details article.cat93 .category:before {
	/* Pains & Pâtisserie */

	content: url("img/FontAwesome/svg/bread-slice-solid.svg");
}

.screen#actu       .list .ad.cat94 a:before   ,
.screen#dormant    .list .ad.cat94 a:before   ,
.screen#shippable  .list .ad.cat94 a:before   ,
.screen#immaterial .list .ad.cat94 a:before   ,
.screen#luxuries   .list .ad.cat94 a:before   ,
#panel-details article.cat94 .category:before {
	/* Frais */

	content: url("img/FontAwesome/svg/egg-solid.svg");
}

.screen#actu       .list .ad.cat95 a:before   ,
.screen#dormant    .list .ad.cat95 a:before   ,
.screen#shippable  .list .ad.cat95 a:before   ,
.screen#immaterial .list .ad.cat95 a:before   ,
.screen#luxuries   .list .ad.cat95 a:before   ,
#panel-details article.cat95 .category:before {
	/* Épicerie salée */

	content: url("img/FontAwesome/svg/pepper-hot-solid.svg");
}

.screen#actu       .list .ad.cat98 a:before   ,
.screen#dormant    .list .ad.cat98 a:before   ,
.screen#shippable  .list .ad.cat98 a:before   ,
.screen#immaterial .list .ad.cat98 a:before   ,
.screen#luxuries   .list .ad.cat98 a:before   ,
#panel-details article.cat98 .category:before {
	/* Vêtements bébé */

	content: url("img/FontAwesome/svg/person-breastfeeding-solid.svg");
}


