:root {

	--menu-nb-items-in-viewport: 8;
	--menu-img-padding: 1rem;
	--menu-img-height: calc(100vh/var(--menu-nb-items-in-viewport) - (2 * var(--menu-img-padding)));
	--menu-img-width: var(--menu-img-height);
	--menu-width: calc(var(--menu-img-width) + 2 * var(--menu-img-padding));

	--max-simultaneous-ads: 5;
}

body {

    width: 100%;

    display: inline-flex;
    align-items: stretch;
    justify-content: stretch;
    gap: 3vw;

    height: 100vh;
    margin: 0;
}

main {

	flex-grow: 1;

	display: inline-flex;
	align-items: stretch;
	justify-content: space-between;
	gap: 3vw;
}

#mainArea {

	position: fixed;
	top: 0;
	left: var(--menu-width);
	/*overflow: hidden;*/

	order: 1;

	height: 100vh;
	width: calc(100vw - var(--menu-width) - 33vw);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  Menu
 */

#menu {

	position: fixed;
	top: 0;
	left: 0;
	overflow: auto;
	height: 100vh;
	width: fit-content;
}

#menu {

    display: flex;
    flex-direction: column;

    margin: 0;
}

#menu ul {

	margin: 0;
	padding: 0;
	list-style: none;
}

#menu ul li {

	margin: 0;
	padding: 0;
}

#menu > ul > li > a {

	display: block;
	padding: 1rem;
}

#menu > ul > li > a > img {

	display: block;
	height: var(--menu-img-height);
	width: auto;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  Panel
 */

#panel {

	position: fixed;
	top: 0;
	right: 0;

	height: 100vh;

	width: 33vw;
}

#panel {

    overflow: auto;
}

#panel > #panel-details {

	height: 100%;
	width: 100%;
	overflow: auto;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}

#panel > #panel-details > article > div > div {

	display: flex;
	flex-direction: column;
	position: relative;
}

#panel > #panel-details > article > div > div > * {

	order: 12;

	margin-left:  1rem;
	margin-right: 1rem;
}

#panel > #panel-details > article .last-edit-date {

	order: 1;

	margin-top: 1rem;
}

#panel > #panel-details > article .price {

	position: absolute;
	top: 0;
	right: 0;
}


#panel > #panel-details > article .title {

	order: 2;

	margin-top: 0;
	margin-bottom: 0;
}

#panel > #panel-details > article.page .title {

	margin-top: 1rem;
}

#panel > #panel-details > article .category {

	order: 3;

	margin-top: 0.25rem;
	margin-bottom: 0.5rem;

	display: flex;
	align-items: center;
}

#panel > #panel-details > article .category:before {

	width: 1rem;
	height: 1rem;
	margin-left: 0;
	margin-right: 0.5rem;
}

#panel > #panel-details > article .pictures {

	order: 4;

	margin-left:  0rem;
	margin-right: 0rem;

	margin-top: 0;
	margin-bottom: 0;
}

#panel > #panel-details > article .pictures > img {

	max-width: 100%;
	display: block;
	margin: auto;
}

#panel > #panel-details > article .description {

	order: 5;
}

#panel > #panel-details > article address {

	order: 6;
}

#panel > #panel-details > article .link-to-gchange {

	order: 13;

	text-align: center;

	margin-bottom: 1rem;
}

#panel > #panel-details > article .link-to-gchange a {

	display: inline-block;
	padding: 1rem;
	border-width: 0.25rem;
}

#panel > #panel-details > article .closing-button {

	order: 666;

	text-align: center;

	margin-bottom: 1rem;
}




/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  Radius
 */

#radius {

	position: fixed;
	bottom: 1.5rem;
	right: calc(33% + 2rem);

	z-index: 2000;

	display: none;
}

body[data-active-screen="actu"]           #radius,
body[data-active-screen="dormant"]        #radius,
body[data-active-screen="events"]         #radius,
body[data-active-screen="marketResearch"] #radius,
body[data-active-screen="luxuries"]       #radius {

	display: block;
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  Categories icons
 */

.screen#shippable  .list > .ad a:before ,
.screen#immaterial .list > .ad a:before ,
.screen#luxuries   .list > .ad a:before ,
.screen#exchange   .list > .ad a:before {

	display: flex;

	width: 2rem;
	margin-right: 1rem;
	height: 3rem;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Screens
 */

.screen {

	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;

	height: 100vh;
	width: 100%;
}

.screen#actu       ol,
.screen#events     ol,
.screen#dormant    ol,
.screen#immaterial ol,
.screen#shippable  ol ,
.screen#luxuries   ol ,
.screen#exchange   ol {

    list-style: none;
    padding: 0;
    margin: 0;
}

.screen > .list {

	display: none;
}

.screen > .list.active {

	display: block;
}

.buttonContainer {

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.screen.loading:after {

	position: absolute;
	font-size: 2rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.buttonContainer .detect {

    padding: 1em 2em;
	border-width: 0.0625rem;
}

.buttonContainer .errorMessage {

    padding: 1em;
	text-align: center;
	display: none;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Screens displayed as a RADAR (on desktop)
 */

.screen#dormant > .list,
.screen#actu    > .list,
.screen#events  > .list,
.buttonContainer {

    height: 90vh;
    margin: 0vh; /* 5vh */
    width: 90vh;

}

.screen#dormant > .list ,
.screen#events  > .list ,
.screen#actu    > .list {

    border-radius: 50%;
    position: relative;
	overflow: hidden;
}

.screen#actu    .list .ad a,
.screen#events  .list .ad a,
.screen#dormant .list .ad a {

	display: flex;
	align-items: center;
}

@media screen and (max-width: 49.999rem) {

	.screen#actu    .list .ad,
	.screen#events  .list .ad,
	.screen#dormant .list .ad {

		height: 3rem;
		border-top-width: 0.0625rem;
		border-bottom-width: 0.0625rem;
	}

	.screen#actu    .list .ad a,
	.screen#events  .list .ad a,
	.screen#dormant .list .ad a {

		height: 100%;
		align-items: center;
	}

	.screen#actu    .list .ad a:before,
	.screen#events  .list .ad a:before,
	.screen#dormant .list .ad a:before {

		width: 1rem;
		height: auto;
		margin-left: 1rem;
		margin-right: 1rem;
	}

}

@media screen and (min-width: 50rem) {

	.screen#actu    .list .ad ,
	.screen#events  .list .ad ,
	.screen#dormant .list .ad {

		position: absolute;
		width: 1.5rem;
		height: 1.5rem;

		border-radius: 50%;
		border-width: 0.125rem;

	    transform: translate(-50%, -50%); /* center the dot relative to the calculated position */

		transition-property: transform;
		transition-delay: 0s;
		transition-duration: 0.5s;
		transition-timing-function: ease-out;
	}

	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+1 of .dir-N.thirds--1st:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+2 of .dir-N.thirds--2nd:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+2 of .dir-N.thirds--3rd:not(.visited)) ,

	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+1 of .dir-S.thirds--1st:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+2 of .dir-S.thirds--2nd:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+2 of .dir-S.thirds--3rd:not(.visited)) ,

	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+1 of .dir-E.thirds--1st:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+2 of .dir-E.thirds--2nd:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+2 of .dir-E.thirds--3rd:not(.visited)) ,

	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+1 of .dir-W.thirds--1st:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+2 of .dir-W.thirds--2nd:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+2 of .dir-W.thirds--3rd:not(.visited)) ,

	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+1 of .dir-NE.thirds--1st:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+2 of .dir-NE.thirds--2nd:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+2 of .dir-NE.thirds--3rd:not(.visited)) ,

	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+1 of .dir-SE.thirds--1st:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+2 of .dir-SE.thirds--2nd:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+2 of .dir-SE.thirds--3rd:not(.visited)) ,

	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+1 of .dir-NW.thirds--1st:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+2 of .dir-NW.thirds--2nd:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+2 of .dir-NW.thirds--3rd:not(.visited)) ,

	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+1 of .dir-SW.thirds--1st:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+2 of .dir-SW.thirds--2nd:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(n+2 of .dir-SW.thirds--3rd:not(.visited)) {

		transform: translate(-50%, -100vh);

		transition-property: transform;
		transition-delay: 0s;
		transition-duration: 750ms;
		transition-timing-function: ease-out;
	}

	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+1 of .dir-N.thirds--1st:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+2 of .dir-N.thirds--2nd:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+2 of .dir-N.thirds--3rd:not(.visited)) ,

	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+1 of .dir-S.thirds--1st:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+2 of .dir-S.thirds--2nd:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+2 of .dir-S.thirds--3rd:not(.visited)) ,

	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+1 of .dir-E.thirds--1st:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+2 of .dir-E.thirds--2nd:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+2 of .dir-E.thirds--3rd:not(.visited)) ,

	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+1 of .dir-W.thirds--1st:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+2 of .dir-W.thirds--2nd:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+2 of .dir-W.thirds--3rd:not(.visited)) ,

	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+1 of .dir-NE.thirds--1st:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+2 of .dir-NE.thirds--2nd:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+2 of .dir-NE.thirds--3rd:not(.visited)) ,

	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+1 of .dir-SE.thirds--1st:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+2 of .dir-SE.thirds--2nd:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+2 of .dir-SE.thirds--3rd:not(.visited)) ,

	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+1 of .dir-NW.thirds--1st:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+2 of .dir-NW.thirds--2nd:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+2 of .dir-NW.thirds--3rd:not(.visited)) ,

	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+1 of .dir-SW.thirds--1st:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+2 of .dir-SW.thirds--2nd:not(.visited)) ,
	.screen:is(#actu, #events, #dormant) .list .ad:nth-child(-n+2 of .dir-SW.thirds--3rd:not(.visited)) {

		transform: translate(-50%, -50%);
	}

	.screen#actu    .list .ad.visited.selected ,
	.screen#events  .list .ad.visited.selected ,
	.screen#dormant .list .ad.visited.selected {

		transform: translate(-50%, -50%);
	}

	.screen#actu    .list .ad.visited:not(.selected) ,
	.screen#events  .list .ad.visited:not(.selected) ,
	.screen#dormant .list .ad.visited:not(.selected) {

		transition-property: transform;
		transition-delay: 0s;
		transition-duration: 750ms;
		transition-timing-function: ease-in;

		transform: translate(-50%, 100vh);
	}

	.screen#actu    .list .ad a .title ,
	.screen#events  .list .ad a .title ,
	.screen#dormant .list .ad a .title {

		display: none;
	}

	.screen#actu    .list .ad a ,
	.screen#events  .list .ad a ,
	.screen#dormant .list .ad a {

		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
	}

	.screen#actu    .list .ad a:before ,
	.screen#events  .list .ad a:before ,
	.screen#dormant .list .ad a:before {

		width: 50%;
		height: 50%;
	}
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Screens displayed as a LIST (on desktop)
 */

.screen#shippable  .list > .ad a ,
.screen#immaterial .list > .ad a ,
.screen#luxuries   .list > .ad a ,
.screen#exchange   .list > .ad a {

	display: flex;
	align-items: center;

	width: calc(100% - 2rem);
	padding-left:   1rem;
	padding-right:  1rem;

	padding-top:    1rem;
	padding-bottom: 1rem;

	height: 3rem;
}

.screen#shippable  .list .ad.selected ,
.screen#immaterial .list .ad.selected ,
.screen#luxuries   .list .ad.selected ,
.screen#exchange   .list .ad.selected {

	height: 5rem;
}

.screen#shippable  .list .ad.visited:not(.selected) ,
.screen#immaterial .list .ad.visited:not(.selected) ,
.screen#luxuries   .list .ad.visited:not(.selected) ,
.screen#exchange   .list .ad.visited:not(.selected) {

	height: 0;
	overflow: hidden;

	transition-property: height, padding;
	transition-delay: 0s, 0.5s, 1s;
	transition-duration: 0.5s, 0.5s, 0.5s;
	transition-timing-function: linear;
}

