body {
    width: 100%;

    display: inline-flex;
    align-items: stretch;
    justify-content: stretch;
    gap: 3vw;

    height: 100vh;
    margin: 0;
    background-color: #000;
}

a,
a:visited {

	color: white;
	text-decoration: none;
}

#menu {
    display: flex;
    flex-direction: column;

    background-color: hsl(0, 0%, 10%);
    /*border-right: 0.125rem solid hsl(0, 0%, 10%);*/
    box-shadow: 0.5rem 0 0.5rem hsl(0, 0%, 5%);

    margin: 0;
}

#menu ul {

    margin: 0;
    padding: 0;
    list-style: none;
}

#menu ul li {

    margin: 0;
    padding: 0;
}

#menu > ul > li > a {

    display: block;
    padding: 10px;
}

#menu > ul > li > a.active {

    background-color: hsl(0, 0%, 20%);
}

main {

    flex-grow: 1;

    display: inline-flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 3vw;
}

#panel {

    order: 2;

    flex-basis: 20%;
    flex-grow: 1;
    background-color: #333;
    color: #fff;
    overflow: auto;

	animation-name: vertical-sweep;
	animation-duration: 2.71828182846s;
	animation-direction: normal;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	background-image: linear-gradient(to bottom, transparent 0%, rgba(255, 0, 0, 0.5) 50%, transparent 100%);
	background-size: 100% 1rem;
	background-repeat: no-repeat;
	background-position: 0% 33.333%;

	position: relative;
}

#panel:after {

	content: "";

	animation-name: horizontal-sweep;
	animation-duration: 3.14159265359s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;

	background-image: linear-gradient(to right, transparent 0%, rgba(255, 0, 0, 0.5) 50%, transparent 100%);
	background-size: 1rem 100%;
	background-repeat: no-repeat;

	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

#panel:not(.loading) #panel-details {

	background-color: #333;
	height: 100%;
	width: 100%;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}


/*
@keyframes vertical-sweep {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 0% 100%;
	}
}
*/

@keyframes vertical-sweep {
	0% {
		background-position: 0% 33.333%;
	}
	33.333% {

		background-position: 0% 100%;
	}
	66.666% {

		background-position: 0% 33.333%;
	}
	83.333% {

		background-position: 0% 0%;
	}
	100% {
		background-position: 0% 33.333%;
	}
}

@keyframes horizontal-sweep {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 0%;
	}
}

#mainArea {

    order: 1;

    height: 100vh;
    width: 100vh;

    position: relative;
}

.screen:not(.active) {

    display: none;
}

.screen .errorMessage {

    display: none;
}

#marketResearch {

    background-color: hsl(120, 100%, 50%);
    color: black;
}

#actu ol,
#dormant ol {

    list-style: none;
    padding: 0;
    margin: 0;
}

#dormant > .list,
#actu > .list,
.buttonContainer {

    height: 90vh;
    margin: 5vh;
    width: 90vh;

}

#dormant > .list,
#actu > .list {

    border-radius: 50%;
    cursor: crosshair;
    position: relative;
}

#actu > .list {

    border: 2px solid #0f0;
}

#dormant > .list {

    background: hsl(53.7, 100%, 81.4%);
    border: 5px solid hsl(42.2, 100%, 54.3%);
}

.buttonContainer {

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer .loading {
    position: absolute;
    color: #0f0;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screen .buttonContainer .loading {

	display: none;
}

.screen#immaterial .buttonContainer .loading,
.screen#shippable .buttonContainer .loading
{

	display: block;
}


.buttonContainer .detect {
    padding: 1em 2em;
    border: 1px solid #0f0;
    background-color: #000;
    color: #0f0;
    cursor: pointer;
}

.buttonContainer .errorMessage {
    color: red;
    padding: 1em;
    text-align: center;
}

.screen#shippable .list > .record:nth-child(3n + 1) ,
.screen#immaterial  .list > .record:nth-child(3n + 1) {

	background-color: hsl(240, 50%, 53%);
}

.screen#shippable .list > .record:nth-child(3n + 2) ,
.screen#immaterial  .list > .record:nth-child(3n + 2) {

	background-color: hsl(240, 50%, 55%);
}

.screen#shippable .list > .record:nth-child(3n + 3) ,
.screen#immaterial  .list > .record:nth-child(3n + 3) {

	background-color: hsl(240, 50%, 58%);
}

.screen#shippable .list > .ad a,
.screen#immaterial .list > .ad a {

	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;

	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.screen#shippable .list > .ad a:before,
.screen#immaterial .list > .ad a:before {

	width: 2rem;
	height: 3rem;
	margin-right: 1rem;
	content: "";

	display: flex;
}


#radius {
    position: absolute;
    bottom: 24px;
    right: 24px;
    color: #0f0;
    background-color: #000;

	display: none;
}


body[data-active-screen="actu"]           #radius,
body[data-active-screen="dormant"]        #radius,
body[data-active-screen="marketResearch"] #radius {

	display: block;
}


@media screen and (max-width: 49.999rem) {

	#actu .list .ad {

		animation: none !important;
	}
}

@media screen and (min-width: 50rem) {

	#actu .list .ad,
	#dormant .list .ad {
	    position: absolute;
	    width: 24px;
	    height: 24px;
	    background-color: white;
	    border-radius: 50%;
	    transform: translate(-50%, -50%); /* center the dot relative to the calculated position */

	    cursor: pointer;

	    box-shadow: 0 0 2px 0px black;
	    border-width: 2px;
	    border-color: black;
	}

	#actu .list .ad a .title,
	#dormant .list .ad a .title {

		display: none;
	}

	#dormant .list.paused .ad,
	#actu .list.paused .ad {

		animation-play-state: paused !important;
	}

	#dormant .list > :not(.paused) .ad,
	#actu .list > :not(.paused) .ad {

		animation-play-state: running !important;
	}
}

@keyframes blink-offer {
    0% {

        background-color: hsl(120, 80%, 5%);
        color: hsl(120, 80%, 5%);
    }

    50% {

        background-color: hsl(120, 100%, 50%);
        color: hsl(120, 0%, 0%);
    }

    100% {

        background-color: hsl(120, 80%, 5%);
        color: hsl(120, 80%, 5%);
    }
}

@keyframes blink-need {
    0% {

        background-color: hsl(0, 80%, 5%);
        color: hsl(0, 80%, 5%);
    }

    50% {

        background-color: hsl(0, 100%, 50%);
        color: hsl(0, 0%, 0%);
    }

    100% {

        background-color: hsl(0, 80%, 5%);
        color: hsl(0, 80%, 5%);
    }
}

#actu .list .ad.record.offer ,
#dormant .list .ad.record.offer  {

    background-color: hsl(120, 100%, 50%);
}

#actu .list .ad.record.need ,
#dormant .list .ad.record.need  {

    background-color: hsl(0, 100%, 50%);
}

#actu .list .ad.selected ,
#dormant .list .ad.selected  {

    background-color: white;
    /* You can add other properties as per your design */
    opacity: 1 !important;
    animation: none !important;

    border-color: hsl(120, 100%, 50%);
}

#actu .list .ad.record.selected.offer ,
#dormant .list .ad.record.selected.offer  {

    background-color: hsl(120, 100%, 50%);
    box-shadow:
        0 0 3px 3px hsl(120, 100%, 50%),
        0 0 3px 6px hsl(120, 100%,  0%);
}

#actu .list .ad.record.selected.need ,
#dormant .list .ad.record.selected.need  {

    background-color: hsl(0, 100%, 50%);
    box-shadow:
        0 0 3px 3px hsl(0, 100%, 50%),
        0 0 3px 6px hsl(0, 100%,  0%);
}

#actu .list .ad.visited ,
#dormant .list .ad.visited  {

    display: none;
}

#actu .list .ad.visited.selected ,
#dormant .list .ad.visited.selected  {

    display:block;
}




.screen#actu .list .ad a,
.screen#dormant .list .ad a {

	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.screen#actu .list .ad a:before,
.screen#dormant .list .ad a:before {

	width: 50%;
	height: auto;
}



/* =========================== Icons =========================== */


.screen#actu .list .ad.cat12 a:before,
.screen#dormant .list .ad.cat12 a:before,
.screen#shippable .list .ad.cat12 a:before,
.screen#immaterial .list .ad.cat12 a:before {
	/* Location & Gîtes */

	content: url("img/FontAwesome/svg/bed-solid.svg");
}

.screen#actu .list .ad.cat15 a:before,
.screen#dormant .list .ad.cat15 a:before,
.screen#shippable .list .ad.cat15 a:before,
.screen#immaterial .list .ad.cat15 a:before {
	/* Informatique */

	content: url("img/FontAwesome/svg/computer-solid.svg");
}

.screen#actu .list .ad.cat17 a:before,
.screen#dormant .list .ad.cat17 a:before,
.screen#shippable .list .ad.cat17 a:before,
.screen#immaterial .list .ad.cat17 a:before {
	/* Téléphonie */

	content: url("img/FontAwesome/svg/mobile-solid.svg");
}

.screen#actu .list .ad.cat19 a:before,
.screen#dormant .list .ad.cat19 a:before,
.screen#shippable .list .ad.cat19 a:before,
.screen#immaterial .list .ad.cat19 a:before {
	/* Ameublement */

	content: url("img/FontAwesome/svg/couch-solid.svg");
}

.screen#actu .list .ad.cat21 a:before,
.screen#dormant .list .ad.cat21 a:before,
.screen#shippable .list .ad.cat21 a:before,
.screen#immaterial .list .ad.cat21 a:before {
	/* Bricolage */

	content: url("img/FontAwesome/svg/hammer-solid.svg");
}

.screen#actu .list .ad.cat22 a:before,
.screen#dormant .list .ad.cat22 a:before,
.screen#shippable .list .ad.cat22 a:before,
.screen#immaterial .list .ad.cat22 a:before {
	/* Vêtements */

	content: url("img/FontAwesome/svg/shirt-solid.svg");
}

.screen#actu .list .ad.cat27 a:before,
.screen#dormant .list .ad.cat27 a:before,
.screen#shippable .list .ad.cat27 a:before,
.screen#immaterial .list .ad.cat27 a:before {
	/* Livres */

	content: url("img/FontAwesome/svg/book-solid.svg");
}

.screen#actu .list .ad.cat28 a:before,
.screen#dormant .list .ad.cat28 a:before,
.screen#shippable .list .ad.cat28 a:before,
.screen#immaterial .list .ad.cat28 a:before {
	/* Animaux */

	content: url("img/FontAwesome/svg/dog-solid.svg");
}

.screen#actu .list .ad.cat29 a:before,
.screen#dormant .list .ad.cat29 a:before,
.screen#shippable .list .ad.cat29 a:before,
.screen#immaterial .list .ad.cat29 a:before {
	/* Sports & Hobbies */

	content: url("img/FontAwesome/svg/baseball-bat-ball-solid.svg");
}

.screen#actu .list .ad.cat30 a:before,
.screen#dormant .list .ad.cat30 a:before,
.screen#shippable .list .ad.cat30 a:before,
.screen#immaterial .list .ad.cat30 a:before {
	/* Instruments de musique */

	content: url("img/FontAwesome/svg/guitar-solid.svg");
}

.screen#actu .list .ad.cat34 a:before,
.screen#dormant .list .ad.cat34 a:before,
.screen#shippable .list .ad.cat34 a:before,
.screen#immaterial .list .ad.cat34 a:before {
	/* Prestations de services */

	content: url("img/FontAwesome/svg/handshake-angle-solid.svg");
}

.screen#actu .list .ad.cat38 a:before,
.screen#dormant .list .ad.cat38 a:before,
.screen#shippable .list .ad.cat38 a:before,
.screen#immaterial .list .ad.cat38 a:before {
	/* Autres */

	content: url("img/FontAwesome/svg/question-solid.svg");
}

.screen#actu .list .ad.cat39 a:before,
.screen#dormant .list .ad.cat39 a:before,
.screen#shippable .list .ad.cat39 a:before,
.screen#immaterial .list .ad.cat39 a:before {
	/* Décoration */

	content: url("img/FontAwesome/svg/holly-berry-solid.svg");
}

.screen#actu .list .ad.cat41 a:before,
.screen#dormant .list .ad.cat41 a:before,
.screen#shippable .list .ad.cat41 a:before,
.screen#immaterial .list .ad.cat41 a:before {
	/* Jeux */

	content: url("img/FontAwesome/svg/gamepad-solid.svg");
}

.screen#actu .list .ad.cat45 a:before,
.screen#dormant .list .ad.cat45 a:before,
.screen#shippable .list .ad.cat45 a:before,
.screen#immaterial .list .ad.cat45 a:before {
	/* Arts de la table */

	content: url("img/FontAwesome/svg/wine-glass-empty-solid.svg");
}

.screen#actu .list .ad.cat46 a:before,
.screen#dormant .list .ad.cat46 a:before,
.screen#shippable .list .ad.cat46 a:before,
.screen#immaterial .list .ad.cat46 a:before {
	/* Linge de maison */

	content: url("img/FontAwesome/svg/mattress-pillow-solid.svg");
}

.screen#actu .list .ad.cat47 a:before,
.screen#dormant .list .ad.cat47 a:before,
.screen#shippable .list .ad.cat47 a:before,
.screen#immaterial .list .ad.cat47 a:before {
	/* Accessoires & Bagagerie */

	content: url("img/FontAwesome/svg/suitcase-rolling-solid.svg");
}
.screen#actu .list .ad.cat48 a:before,
.screen#dormant .list .ad.cat48 a:before,
.screen#shippable .list .ad.cat48 a:before,
.screen#immaterial .list .ad.cat48 a:before {
	/* Divers (sous-catégorie de "Alimentation", en théorie) */

	content: url("img/FontAwesome/svg/question-solid.svg");
}

.screen#actu .list .ad.cat52 a:before,
.screen#dormant .list .ad.cat52 a:before,
.screen#shippable .list .ad.cat52 a:before,
.screen#immaterial .list .ad.cat52 a:before {
	/* Jardinage */

	content: url("img/FontAwesome/svg/seedling-solid.svg");
}

.screen#actu .list .ad.cat53 a:before,
.screen#dormant .list .ad.cat53 a:before,
.screen#shippable .list .ad.cat53 a:before,
.screen#immaterial .list .ad.cat53 a:before {
	/* Chaussures */

	content: url("img/FontAwesome/svg/shoe-prints-solid.svg");
}

.screen#actu .list .ad.cat58 a:before,
.screen#dormant .list .ad.cat58 a:before,
.screen#shippable .list .ad.cat58 a:before,
.screen#immaterial .list .ad.cat58 a:before {
	/* Transport - Manutention */

	content: url("img/FontAwesome/svg/truck-solid.svg");
}

.screen#actu .list .ad.cat63 a:before,
.screen#dormant .list .ad.cat63 a:before,
.screen#shippable .list .ad.cat63 a:before,
.screen#immaterial .list .ad.cat63 a:before {
	/* Commerces et Marchés */

	content: url("img/FontAwesome/svg/store-solid.svg");
}

.screen#actu .list .ad.cat74 a:before,
.screen#dormant .list .ad.cat74 a:before,
.screen#shippable .list .ad.cat74 a:before,
.screen#immaterial .list .ad.cat74 a:before {
	/* Formations */

	content: url("img/FontAwesome/svg/graduation-cap-solid.svg");
}

.screen#actu .list .ad.cat81 a:before,
.screen#dormant .list .ad.cat81 a:before,
.screen#shippable .list .ad.cat81 a:before,
.screen#immaterial .list .ad.cat81 a:before {
	/* Soins */

	content: url("img/FontAwesome/svg/life-ring-solid.svg");
}

.screen#actu .list .ad.cat91 a:before,
.screen#dormant .list .ad.cat91 a:before,
.screen#shippable .list .ad.cat91 a:before,
.screen#immaterial .list .ad.cat91 a:before {
	/* Commerces & Marchés */

	content: url("img/FontAwesome/svg/store-solid.svg");
}

.screen#actu .list .ad.cat92 a:before,
.screen#dormant .list .ad.cat92 a:before,
.screen#shippable .list .ad.cat92 a:before,
.screen#immaterial .list .ad.cat92 a:before {
	/* Fruits et légumes */

	content: url("img/FontAwesome/svg/carrot-solid.svg");
}

.screen#actu .list .ad.cat93 a:before,
.screen#dormant .list .ad.cat93 a:before,
.screen#shippable .list .ad.cat93 a:before,
.screen#immaterial .list .ad.cat93 a:before {
	/* Pains & Pâtisserie */

	content: url("img/FontAwesome/svg/egg-solid.svg");
}

.screen#actu .list .ad.cat94 a:before,
.screen#dormant .list .ad.cat94 a:before,
.screen#shippable .list .ad.cat94 a:before,
.screen#immaterial .list .ad.cat94 a:before {
	/* Frais */

	content: url("img/FontAwesome/svg/egg-solid.svg");
}



