body {
    width: 100%;

    display: inline-flex;
    align-items: stretch;
    justify-content: stretch;
    gap: 3vw;

    height: 100vh;
    margin: 0;
    background-color: #000;
}

a,
a:visited {

	color: white;
	text-decoration: none;
}

#menu {
    display: flex;
    flex-direction: column;

    background-color: hsl(0, 0%, 10%);
    /*border-right: 0.125rem solid hsl(0, 0%, 10%);*/
    box-shadow: 0.5rem 0 0.5rem hsl(0, 0%, 5%);

    margin: 0;
}

#menu ul {

    margin: 0;
    padding: 0;
    list-style: none;
}

#menu ul li {

    margin: 0;
    padding: 0;
}

#menu > ul > li > a {

    display: block;
    padding: 10px;
}

#menu > ul > li > a.active {

    background-color: hsl(0, 0%, 20%);
}

main {

    flex-grow: 1;

    display: inline-flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 3vw;
}

#panel {

    order: 2;

    flex-basis: 20%;
    flex-grow: 1;
    background-color: #333;
    color: #fff;
    overflow: auto;
}

#mainArea {

    order: 1;

    height: 100vh;
    width: 100vh;

    position: relative;
}

.screen {

    display: none;
}

.screen .errorMessage {

    display: none;
}

#marketResearch {

    background-color: hsl(120, 100%, 50%);
    color: black;
}

#actu ol,
#dormant ol {

    list-style: none;
    padding: 0;
    margin: 0;
}

#dormant > .list,
#actu > .list,
.buttonContainer {

    height: 90vh;
    margin: 5vh;
    width: 90vh;

}

#dormant > .list,
#actu > .list {

    border-radius: 50%;
    cursor: crosshair;
    position: relative;
}

#actu > .list {

    border: 2px solid #0f0;
}

#dormant > .list {

    background: hsl(53.7, 100%, 81.4%);
    border: 5px solid hsl(42.2, 100%, 54.3%);
}

.buttonContainer {

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    position: absolute;
    color: #0f0;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screen .loading {

	display: none;
}

.screen#immaterial .loading,
.screen#shippable .loading
{

	display: block;
}


.detect {
    padding: 1em 2em;
    border: 1px solid #0f0;
    background-color: #000;
    color: #0f0;
    cursor: pointer;
}

.errorMessage {
    color: red;
    padding: 1em;
    text-align: center;
}

#radius {
    position: absolute;
    bottom: 24px;
    right: 24px;
    color: #0f0;
    background-color: #000;

	display: none;
}


body[data-active-screen="actu"]           #radius,
body[data-active-screen="dormant"]        #radius,
body[data-active-screen="marketResearch"] #radius {

	display: block;
}

.dot {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%); /* center the dot relative to the calculated position */

    cursor: pointer;

    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: 0 0 2px 0px black;
    border-width: 2px;
    border-color: black;
}

#dormant .list.paused .dot,
#actu .list.paused .dot {

    animation-play-state: paused !important;
}

#dormant .list > :not(.paused) .dot,
#actu .list > :not(.paused) .dot {

    animation-play-state: running !important;
}

.dot.record.offer {

    background-color: hsl(120, 100%, 50%);
}

.dot.record.need {

    background-color: hsl(0, 100%, 50%);
}

.dot.selected {

    background-color: white;
    /* You can add other properties as per your design */
    opacity: 1 !important;
    animation: none !important;

    border-color: hsl(120, 100%, 50%);
}

.dot.record.selected.offer {

    background-color: hsl(120, 100%, 50%);
    box-shadow:
        0 0 3px 3px hsl(120, 100%, 50%),
        0 0 3px 6px hsl(120, 100%,  0%);
}

.dot.record.selected.need {

    background-color: hsl(0, 100%, 50%);
    box-shadow:
        0 0 3px 3px hsl(0, 100%, 50%),
        0 0 3px 6px hsl(0, 100%,  0%);
}

.dot.visited {

    display: none;
}

.dot.visited.selected {

    display:block;
}

@keyframes blink-offer {
    0% {

        background-color: hsl(120, 80%, 5%);
        color: hsl(120, 80%, 5%);
    }

    50% {

        background-color: hsl(120, 100%, 50%);
        color: hsl(120, 0%, 0%);
    }

    100% {

        background-color: hsl(120, 80%, 5%);
        color: hsl(120, 80%, 5%);
    }
}

@keyframes blink-need {
    0% {

        background-color: hsl(0, 80%, 5%);
        color: hsl(0, 80%, 5%);
    }

    50% {

        background-color: hsl(0, 100%, 50%);
        color: hsl(0, 0%, 0%);
    }

    100% {

        background-color: hsl(0, 80%, 5%);
        color: hsl(0, 80%, 5%);
    }
}



.dot.record.cat12 {
    /* Location & Gîtes */

    background-image: url("img/FontAwesome/svg/bed-solid.svg");
}

.dot.record.cat15 {
    /* Informatique */

    background-image: url("img/FontAwesome/svg/computer-solid.svg");
}

.dot.record.cat17 {
    /* Téléphonie */

    background-image: url("img/FontAwesome/svg/mobile-solid.svg");
}

.dot.record.cat19 {
    /* Ameublement */

    background-image: url("img/FontAwesome/svg/couch-solid.svg");
}

.dot.record.cat21 {
    /* Bricolage */

    background-image: url("img/FontAwesome/svg/hammer-solid.svg");
}

.dot.record.cat22 {
    /* Vêtements */

    background-image: url("img/FontAwesome/svg/shirt-solid.svg");
}

.dot.record.cat27 {
    /* Livres */

    background-image: url("img/FontAwesome/svg/book-solid.svg");
}

.dot.record.cat28 {
    /* Animaux */

    background-image: url("img/FontAwesome/svg/dog-solid.svg");
}

.dot.record.cat29 {
    /* Sports & Hobbies */

    background-image: url("img/FontAwesome/svg/baseball-bat-ball-solid.svg");
}

.dot.record.cat30 {
    /* Instruments de musique */

    background-image: url("img/FontAwesome/svg/guitar-solid.svg");
}

.dot.record.cat34 {
    /* Prestations de services */

    background-image: url("img/FontAwesome/svg/handshake-angle-solid.svg");
}

.dot.record.cat38 {
    /* Autres */

    background-image: url("img/FontAwesome/svg/question-solid.svg");
}

.dot.record.cat39 {
    /* Décoration */

    background-image: url("img/FontAwesome/svg/holly-berry-solid.svg");
}

.dot.record.cat41 {
    /* Jeux */

    background-image: url("img/FontAwesome/svg/gamepad-solid.svg");
}

.dot.record.cat45 {
    /* Arts de la table */

    background-image: url("img/FontAwesome/svg/wine-glass-empty-solid.svg");
}

.dot.record.cat46 {
    /* Linge de maison */

    background-image: url("img/FontAwesome/svg/mattress-pillow-solid.svg");
}

.dot.record.cat47 {
    /* Accessoires & Bagagerie */

    background-image: url("img/FontAwesome/svg/suitcase-rolling-solid.svg");
}
.dot.record.cat48 {
    /* Divers (sous-catégorie de "Alimentation", en théorie) */

    background-image: url("img/FontAwesome/svg/question-solid.svg");
}

.dot.record.cat52 {
    /* Jardinage */

    background-image: url("img/FontAwesome/svg/seedling-solid.svg");
}

.dot.record.cat53 {
    /* Chaussures */

    background-image: url("img/FontAwesome/svg/shoe-prints-solid.svg");
}

.dot.record.cat58 {
    /* Transport - Manutention */

    background-image: url("img/FontAwesome/svg/truck-solid.svg");
}

.dot.record.cat63 {
    /* Commerces et Marchés */

    background-image: url("img/FontAwesome/svg/store-solid.svg");
}

.dot.record.cat74 {
    /* Formations */

    background-image: url("img/FontAwesome/svg/graduation-cap-solid.svg");
}

.dot.record.cat81 {
    /* Soins */

    background-image: url("img/FontAwesome/svg/life-ring-solid.svg");
}

.dot.record.cat91 {
    /* Commerces & Marchés */

    background-image: url("img/FontAwesome/svg/store-solid.svg");
}

.dot.record.cat92 {
    /* Fruits et légumes */

    background-image: url("img/FontAwesome/svg/carrot-solid.svg");
}

.dot.record.cat93 {
    /* Pains & Pâtisserie */

    background-image: url("img/FontAwesome/svg/egg-solid.svg");
}

.dot.record.cat94 {
    /* Frais */

    background-image: url("img/FontAwesome/svg/egg-solid.svg");
}


.screen#shippable .list > .record:nth-child(3n + 1) ,
.screen#immaterial  .list > .record:nth-child(3n + 1) {

	background-color: hsl(240, 50%, 53%);
}

.screen#shippable .list > .record:nth-child(3n + 2) ,
.screen#immaterial  .list > .record:nth-child(3n + 2) {

	background-color: hsl(240, 50%, 55%);
}

.screen#shippable .list > .record:nth-child(3n + 3) ,
.screen#immaterial  .list > .record:nth-child(3n + 3) {

	background-color: hsl(240, 50%, 58%);
}

#shippable .record a,
#immaterial .record a {

	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;

	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

#shippable .record a:before,
#immaterial .record a:before {

	width: 2rem;
	height: 3rem;
	display: block;
	margin-right: 1rem;
	content: "";

	display: flex;
}

#shippable .record.cat12 a:before,
#immaterial .record.cat12 a:before {
	/* Location & Gîtes */

	content: url("img/FontAwesome/svg/bed-solid.svg");
}

#shippable .record.cat15 a:before,
#immaterial .record.cat15 a:before {
	/* Informatique */

	content: url("img/FontAwesome/svg/computer-solid.svg");
}

#shippable .record.cat17 a:before,
#immaterial .record.cat17 a:before {
	/* Téléphonie */

	content: url("img/FontAwesome/svg/mobile-solid.svg");
}

#shippable .record.cat19 a:before,
#immaterial .record.cat19 a:before {
	/* Ameublement */

	content: url("img/FontAwesome/svg/couch-solid.svg");
}

#shippable .record.cat21 a:before,
#immaterial .record.cat21 a:before {
	/* Bricolage */

	content: url("img/FontAwesome/svg/hammer-solid.svg");
}

#shippable .record.cat22 a:before,
#immaterial .record.cat22 a:before {
	/* Vêtements */

	content: url("img/FontAwesome/svg/shirt-solid.svg");
}

#shippable .record.cat27 a:before,
#immaterial .record.cat27 a:before {
	/* Livres */

	content: url("img/FontAwesome/svg/book-solid.svg");
}

#shippable .record.cat28 a:before,
#immaterial .record.cat28 a:before {
	/* Animaux */

	content: url("img/FontAwesome/svg/dog-solid.svg");
}

#shippable .record.cat29 a:before,
#immaterial .record.cat29 a:before {
	/* Sports & Hobbies */

	content: url("img/FontAwesome/svg/baseball-bat-ball-solid.svg");
}

#shippable .record.cat30 a:before,
#immaterial .record.cat30 a:before {
	/* Instruments de musique */

	content: url("img/FontAwesome/svg/guitar-solid.svg");
}

#shippable .record.cat34 a:before,
#immaterial .record.cat34 a:before {
	/* Prestations de services */

	content: url("img/FontAwesome/svg/handshake-angle-solid.svg");
}

#shippable .record.cat38 a:before,
#immaterial .record.cat38 a:before {
	/* Autres */

	content: url("img/FontAwesome/svg/question-solid.svg");
}

#shippable .record.cat39 a:before,
#immaterial .record.cat39 a:before {
	/* Décoration */

	content: url("img/FontAwesome/svg/holly-berry-solid.svg");
}

#shippable .record.cat41 a:before,
#immaterial .record.cat41 a:before {
	/* Jeux */

	content: url("img/FontAwesome/svg/gamepad-solid.svg");
}

#shippable .record.cat45 a:before,
#immaterial .record.cat45 a:before {
	/* Arts de la table */

	content: url("img/FontAwesome/svg/wine-glass-empty-solid.svg");
}

#shippable .record.cat46 a:before,
#immaterial .record.cat46 a:before {
	/* Linge de maison */

	content: url("img/FontAwesome/svg/mattress-pillow-solid.svg");
}

#shippable .record.cat47 a:before,
#immaterial .record.cat47 a:before {
	/* Accessoires & Bagagerie */

	content: url("img/FontAwesome/svg/suitcase-rolling-solid.svg");
}

#shippable .record.cat48 a:before,
#immaterial .record.cat48 a:before {
	/* Divers (sous-catégorie de "Alimentation", en théorie) */

	content: url("img/FontAwesome/svg/question-solid.svg");
}

#shippable .record.cat52 a:before,
#immaterial .record.cat52 a:before {
	/* Jardinage */

	content: url("img/FontAwesome/svg/seedling-solid.svg");
}

#shippable .record.cat53 a:before,
#immaterial .record.cat53 a:before {
	/* Chaussures */

	content: url("img/FontAwesome/svg/shoe-prints-solid.svg");
}

#shippable .record.cat58 a:before,
#immaterial .record.cat58 a:before {
	/* Transport - Manutention */

	content: url("img/FontAwesome/svg/truck-solid.svg");
}

#shippable .record.cat63 a:before,
#immaterial .record.cat63 a:before {
	/* Commerces et Marchés */

	content: url("img/FontAwesome/svg/store-solid.svg");
}

#shippable .record.cat74 a:before,
#immaterial .record.cat74 a:before {
	/* Formations */

	content: url("img/FontAwesome/svg/graduation-cap-solid.svg");
}

#shippable .record.cat81 a:before,
#immaterial .record.cat81 a:before {
	/* Soins */

	content: url("img/FontAwesome/svg/life-ring-solid.svg");
}

#shippable .record.cat91 a:before,
#immaterial .record.cat91 a:before {
	/* Commerces & Marchés */

	content: url("img/FontAwesome/svg/store-solid.svg");
}

#shippable .record.cat92 a:before,
#immaterial .record.cat92 a:before {
	/* Fruits et légumes */

	content: url("img/FontAwesome/svg/carrot-solid.svg");
}

#shippable .record.cat93 a:before,
#immaterial .record.cat93 a:before {
	/* Pains & Pâtisserie */

	content: url("img/FontAwesome/svg/egg-solid.svg");
}

#shippable .record.cat94 a:before,
#immaterial .record.cat94 a:before {
	/* Frais */

	content: url("img/FontAwesome/svg/egg-solid.svg");
}
