:root {

	--menu-nb-items: 7;
	--menu-img-padding: 1rem;
	--menu-img-height: calc(100vh/var(--menu-nb-items) - (2 * var(--menu-img-padding)));
	--menu-img-width: var(--menu-img-height);
	--menu-width: calc(var(--menu-img-width) + 2 * var(--menu-img-padding));
}

body {
    width: 100%;

    display: inline-flex;
    align-items: stretch;
    justify-content: stretch;
    gap: 3vw;

    height: 100vh;
    margin: 0;
    background-color: #000;
}

a,
a:visited {

	color: white;
	text-decoration: none;
}

main {

	flex-grow: 1;

	display: inline-flex;
	align-items: stretch;
	justify-content: space-between;
	gap: 3vw;
}

#menu {

	position: fixed;
	top: 0;
	left: 0;
	overflow: auto;
	height: 100vh;
	width: fit-content;
}

#menu {
    display: flex;
    flex-direction: column;

    background-color: hsl(0, 0%, 10%);
    /*border-right: 0.125rem solid hsl(0, 0%, 10%);*/
    box-shadow: 0.5rem 0 0.5rem hsl(0, 0%, 5%);

    margin: 0;
}

#menu ul {

	margin: 0;
	padding: 0;
	list-style: none;
}

#menu ul li {

	margin: 0;
	padding: 0;
}

#menu > ul > li > a {

	display: block;
	padding: 1rem;
}

#menu > ul > li > a > img {

	display: block;
	height: var(--menu-img-height);
	width: auto;
}

#panel {

	position: fixed;
	top: 0;
	right: 0;

	height: 100vh;

	width: 33vw;
}

#mainArea {

	position: fixed;
	top: 0;
	left: var(--menu-width);
	overflow: hidden;

	order: 1;

	height: 100vh;
	width: calc(100vw - var(--menu-width) - 33vw);
}

.screen {

	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;

	height: 100vh;
	width: 100%;
}

.screen#shippable .list > .ad a,
.screen#immaterial .list > .ad a,
.screen#luxuries .list > .ad a {

	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;

	height: 100%;
	width: calc(100% - 2rem);
	display: flex;
	align-items: center;
}

.screen#shippable .list > .ad a:before,
.screen#immaterial .list > .ad a:before,
.screen#luxuries .list > .ad a:before {

	width: 2rem;
	height: 3rem;
	margin-right: 1rem;
	content: "";

	display: flex;
}

#radius {

	position: fixed;
	bottom: 1.5rem;
	right: calc(33% + 2rem);

	z-index: 15;

	display: none;
}


#menu > ul > li > a.active {

    background-color: hsl(0, 0%, 20%);
}

#panel {

    color: #fff;
    overflow: auto;

	/*
	animation-name: vertical-sweep;
	animation-duration: 2.71828182846s;
	animation-direction: normal;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	background-color: #333;
	background-image: linear-gradient(to bottom, transparent 0%, rgba(255, 0, 0, 0.5) 50%, transparent 100%);
	background-size: 100% 1rem;
	background-repeat: no-repeat;
	background-position: 0% 33.333%;
	*/
}

#panel {

	animation-name: vertical-sweep;
	animation-duration: 2.71828182846s;
	animation-direction: normal;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	background-color: #333;

	background-image:
		  linear-gradient(to bottom, transparent 0%, rgba(255, 0, 0, 0.5) 50%, transparent 100%)  /* verticale 1 */
		, linear-gradient(to bottom, transparent 0%, rgba(255, 0, 0, 0.5) 50%, transparent 100%)  /* verticale 2 */
		, linear-gradient(to bottom, transparent 0%, rgba(255, 0, 0, 0.5) 50%, transparent 100%); /* verticale 3 */
	background-size:
		  100% 1rem
		, 100% 1rem
		, 100% 1rem;
	background-repeat:
		  no-repeat
		, no-repeat
		, no-repeat;
	background-position:
		  0%  0%
		, 0% 33%
		, 0% 66%;
}

@keyframes vertical-sweep {
	0% {
		background-position:
		0%   0%,
		0%   33%,
		0%   66%;
	}
	16.666% {
		background-position:
		0%   33%,
		0%   66%,
		0%   100%;
	}
	33.333% {

		background-position:
		0%   66%,
		0%   100%,
		0%   66%;
	}
	50% {
		background-position:
		0%   100%,
		0%   66%,
		0%   33%;
	}
	66.666% {

		background-position:
		0%   66%,
		0%   33%,
		0%   0%;
	}
	83.333% {

		background-position:
		0%   33%,
		0%   0%,
		0%   33%;
	}
	100% {
		background-position:
		0%   0%,
		0%   33%,
		0%   66%;
	}
}


#panel:after {

	content: "";

	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;

	animation-name: horizontal-sweep;
	animation-duration: 3.14159265359s;
	animation-direction: normal;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	background-image:
		  linear-gradient(to right, transparent 0%, rgba(255, 0, 0, 0.5) 50%, transparent 100%)
		, linear-gradient(to right, transparent 0%, rgba(255, 0, 0, 0.5) 50%, transparent 100%)
		, linear-gradient(to right, transparent 0%, rgba(255, 0, 0, 0.5) 50%, transparent 100%);
	background-size:
		  1rem 100%
		, 1rem 100%
		, 1rem 100%;
	background-repeat:
		  no-repeat
		, no-repeat
		, no-repeat;
}


@keyframes horizontal-sweep {
	0% {
		background-position:
		0%   0%,
		33%   0%,
		66%   0%;
	}
	16.666% {
		background-position:
		33%   0%,
		66%   0%,
		100%   0%;
	}
	33.333% {

		background-position:
		66%   0%,
		100%   0%,
		66%   0%;
	}
	50% {
		background-position:
		100%   0%,
		66%   0%,
		33%   0%;
	}
	66.666% {

		background-position:
		66%   0%,
		33%   0%,
		0%   0%;
	}
	83.333% {

		background-position:
		33%   0%,
		0%   0%,
		33%   0%;
	}
	100% {
		background-position:
		0%   0%,
		33%   0%,
		66%   0%;
	}
}

#panel:not(.loading) #panel-details {

	background-color: #333;
	height: 100%;
	width: 100%;
	overflow: auto;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}

.screen:not(.active) {

    display: none;
}

.screen .errorMessage {

    display: none;
}

.screen#marketResearch {

    background-color: hsl(120, 100%, 50%);
    color: black;
}

.screen#actu       ol,
.screen#events     ol,
.screen#dormant    ol,
.screen#immaterial ol,
.screen#shippable  ol ,
.screen#luxuries   ol {

    list-style: none;
    padding: 0;
    margin: 0;
}

.screen > .list {

	display: none;
}

.screen > .list.active {

	display: block;
}


.screen#dormant > .list,
.screen#actu > .list,
.screen#events > .list,
.buttonContainer {

    height: 90vh;
    margin: 5vh;
    width: 90vh;

}

.screen#dormant > .list,
.screen#events  > .list,
.screen#actu    > .list {

    border-radius: 50%;
    cursor: crosshair;
    position: relative;
}

.screen#actu > .list {

	border: 2px solid #0f0;
}

.screen#events > .list {

	border: 2px solid red;
}

.screen#dormant > .list {

    background: hsl(53.7, 100%, 81.4%);
    border: 5px solid hsl(42.2, 100%, 54.3%);
}

.buttonContainer {

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.screen.loading:after {

	content: "Loading…";
	position: absolute;
	color: #0f0;
	font-size: 2em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.buttonContainer .detect {
    padding: 1em 2em;
    border: 1px solid #0f0;
    background-color: #000;
    color: #0f0;
    cursor: pointer;
}

.buttonContainer .errorMessage {
    color: red;
    padding: 1em;
    text-align: center;
}

.screen#shippable .list > .record:nth-child(3n + 1) ,
.screen#immaterial  .list > .record:nth-child(3n + 1) {

	background-color: hsl(240, 50%, 53%);
}

.screen#shippable .list > .record:nth-child(3n + 2) ,
.screen#immaterial  .list > .record:nth-child(3n + 2) {

	background-color: hsl(240, 50%, 55%);
}

.screen#shippable .list > .record:nth-child(3n + 3) ,
.screen#immaterial  .list > .record:nth-child(3n + 3) {

	background-color: hsl(240, 50%, 58%);
}



.screen#luxuries  .list > .record > a {

	color: black;
}

.screen#luxuries  .list > .record:nth-child(3n + 1) {

	background-color: hsl(40, 60%, 50%);
}

.screen#luxuries  .list > .record:nth-child(3n + 2) {

	background-color: hsl(40, 60%, 55%);
}

.screen#luxuries  .list > .record:nth-child(3n + 3) {

	background-color: hsl(40, 60%, 58%);
}

#radius {
    color: #0f0;
    background-color: #000;
}


body[data-active-screen="actu"]           #radius,
body[data-active-screen="dormant"]        #radius,
body[data-active-screen="events"]         #radius,
body[data-active-screen="marketResearch"] #radius,
body[data-active-screen="luxuries"]       #radius {

	display: block;
}


.screen#actu    .list .ad a,
.screen#events  .list .ad a,
.screen#dormant .list .ad a {

	display: flex;
	align-items: center;
}

@media screen and (max-width: 49.999rem) {

	.screen#actu    .list .ad,
	.screen#events  .list .ad,
	.screen#dormant .list .ad {

		animation: none !important;
		height: 3rem;
		border-top: 0.0625rem solid black;
		border-bottom: 0.0625rem solid black;
	}

	.screen#actu    .list .ad a,
	.screen#events  .list .ad a,
	.screen#dormant .list .ad a {

		height: 100%;
		align-items: center;
	}

	.screen#actu    .list .ad a:before,
	.screen#events  .list .ad a:before,
	.screen#dormant .list .ad a:before {

		width: 1rem;
		height: auto;
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.screen#actu    .list .ad ,
	.screen#events  .list .ad {
	}

}

@media screen and (min-width: 50rem) {

	.screen#actu    .list .ad,
	.screen#events  .list .ad,
	.screen#dormant .list .ad {

	    position: absolute;
	    width: 24px;
	    height: 24px;
	    background-color: white;
	    border-radius: 50%;
	    transform: translate(-50%, -50%); /* center the dot relative to the calculated position */

	    cursor: pointer;

	    box-shadow: 0 0 2px 0px black;
	    border-width: 2px;
	    border-color: black;
	}

	.screen#actu    .list .ad a .title,
	.screen#events  .list .ad a .title,
	.screen#dormant .list .ad a .title {

		display: none;
	}

	.screen#actu    .list.paused .ad,
	.screen#events  .list.paused .ad,
	.screen#dormant .list.paused .ad {

		animation-play-state: paused !important;
	}

	.screen#dormant .list > :not(.paused) .ad,
	.screen#actu    .list > :not(.paused) .ad ,
	.screen#events  .list > :not(.paused) .ad {

		animation-play-state: running !important;
	}

	.screen#actu    .list .ad a,
	.screen#events  .list .ad a,
	.screen#dormant .list .ad a {

		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
	}

	.screen#actu    .list .ad a:before,
	.screen#events  .list .ad a:before,
	.screen#dormant .list .ad a:before {

		width: 50%;
		height: auto;
	}
}

@keyframes blink-offer {
    0% {

        background-color: hsl(120, 80%, 5%);
        color: hsl(120, 80%, 5%);
    }

    50% {

        background-color: hsl(120, 100%, 50%);
        color: hsl(120, 0%, 0%);
    }

    100% {

        background-color: hsl(120, 80%, 5%);
        color: hsl(120, 80%, 5%);
    }
}

@keyframes blink-need {
    0% {

        background-color: hsl(0, 80%, 5%);
        color: hsl(0, 80%, 5%);
    }

    50% {

        background-color: hsl(0, 100%, 50%);
        color: hsl(0, 0%, 0%);
    }

    100% {

        background-color: hsl(0, 80%, 5%);
        color: hsl(0, 80%, 5%);
    }
}

#actu .list .ad.record.offer ,
#dormant .list .ad.record.offer  {

    background-color: hsl(120, 100%, 50%);
}

#actu .list .ad.record.need ,
#dormant .list .ad.record.need  {

    background-color: hsl(0, 100%, 50%);
}

#actu .list .ad.selected ,
#dormant .list .ad.selected  {

    background-color: white;
    /* You can add other properties as per your design */
    opacity: 1 !important;
    animation: none !important;

    border-color: hsl(120, 100%, 50%);
}

#actu .list .ad.record.selected.offer ,
#dormant .list .ad.record.selected.offer  {

    background-color: hsl(120, 100%, 50%);
    box-shadow:
        0 0 3px 3px hsl(120, 100%, 50%),
        0 0 3px 6px hsl(120, 100%,  0%);
}

#actu .list .ad.record.selected.need ,
#dormant .list .ad.record.selected.need  {

    background-color: hsl(0, 100%, 50%);
    box-shadow:
        0 0 3px 3px hsl(0, 100%, 50%),
        0 0 3px 6px hsl(0, 100%,  0%);
}

#actu .list .ad.visited ,
#dormant .list .ad.visited  {

    display: none;
}

#actu .list .ad.visited.selected ,
#dormant .list .ad.visited.selected  {

    display: block;
}






/* =========================== Icons =========================== */


.screen#actu .list .ad.cat3 a:before,
.screen#dormant .list .ad.cat3 a:before,
.screen#shippable .list .ad.cat3 a:before,
.screen#immaterial .list .ad.cat3 a:before,
.screen#luxuries .list .ad.cat3 a:before {
	/* Moto */

	content: url("img/FontAwesome/svg/motorcycle-solid.svg");
}

.screen#actu .list .ad.cat6 a:before,
.screen#dormant .list .ad.cat6 a:before,
.screen#shippable .list .ad.cat6 a:before,
.screen#immaterial .list .ad.cat6 a:before,
.screen#luxuries .list .ad.cat6 a:before {
	/* Équipement auto */

	content: url("img/FontAwesome/svg/car-side-solid.svg");
}

.screen#actu .list .ad.cat12 a:before,
.screen#dormant .list .ad.cat12 a:before,
.screen#shippable .list .ad.cat12 a:before,
.screen#immaterial .list .ad.cat12 a:before,
.screen#luxuries .list .ad.cat12 a:before {
	/* Location & Gîtes */

	content: url("img/FontAwesome/svg/bed-solid.svg");
}

.screen#actu .list .ad.cat15 a:before,
.screen#dormant .list .ad.cat15 a:before,
.screen#shippable .list .ad.cat15 a:before,
.screen#immaterial .list .ad.cat15 a:before,
.screen#luxuries .list .ad.cat15 a:before {
	/* Informatique */

	content: url("img/FontAwesome/svg/computer-solid.svg");
}

.screen#actu .list .ad.cat16 a:before,
.screen#dormant .list .ad.cat16 a:before,
.screen#shippable .list .ad.cat16 a:before,
.screen#immaterial .list .ad.cat16 a:before,
.screen#luxuries .list .ad.cat16 a:before {
	/* Image & Son */

	content: url("img/FontAwesome/svg/compact-disc-solid.svg");
}

.screen#actu .list .ad.cat17 a:before,
.screen#dormant .list .ad.cat17 a:before,
.screen#shippable .list .ad.cat17 a:before,
.screen#immaterial .list .ad.cat17 a:before,
.screen#luxuries .list .ad.cat17 a:before {
	/* Téléphonie */

	content: url("img/FontAwesome/svg/mobile-solid.svg");
}

.screen#actu .list .ad.cat19 a:before,
.screen#dormant .list .ad.cat19 a:before,
.screen#shippable .list .ad.cat19 a:before,
.screen#immaterial .list .ad.cat19 a:before,
.screen#luxuries .list .ad.cat19 a:before {
	/* Ameublement */

	content: url("img/FontAwesome/svg/couch-solid.svg");
}

.screen#actu .list .ad.cat20 a:before,
.screen#dormant .list .ad.cat20 a:before,
.screen#shippable .list .ad.cat20 a:before,
.screen#immaterial .list .ad.cat20 a:before,
.screen#luxuries .list .ad.cat20 a:before {
	/* Électroménager */

	content: url("img/FontAwesome/svg/blender-solid.svg");
}

.screen#actu .list .ad.cat21 a:before,
.screen#dormant .list .ad.cat21 a:before,
.screen#shippable .list .ad.cat21 a:before,
.screen#immaterial .list .ad.cat21 a:before,
.screen#luxuries .list .ad.cat21 a:before {
	/* Bricolage */

	content: url("img/FontAwesome/svg/hammer-solid.svg");
}

.screen#actu .list .ad.cat22 a:before,
.screen#dormant .list .ad.cat22 a:before,
.screen#shippable .list .ad.cat22 a:before,
.screen#immaterial .list .ad.cat22 a:before,
.screen#luxuries .list .ad.cat22 a:before {
	/* Vêtements */

	content: url("img/FontAwesome/svg/shirt-solid.svg");
}

.screen#actu .list .ad.cat23 a:before,
.screen#dormant .list .ad.cat23 a:before,
.screen#shippable .list .ad.cat23 a:before,
.screen#immaterial .list .ad.cat23 a:before,
.screen#luxuries .list .ad.cat23 a:before {
	/* Vêtements */

	content: url("img/FontAwesome/svg/baby-carriage-solid.svg");
}

.screen#actu .list .ad.cat27 a:before,
.screen#dormant .list .ad.cat27 a:before,
.screen#shippable .list .ad.cat27 a:before,
.screen#immaterial .list .ad.cat27 a:before,
.screen#luxuries .list .ad.cat27 a:before {
	/* Livres */

	content: url("img/FontAwesome/svg/book-solid.svg");
}

.screen#actu .list .ad.cat28 a:before,
.screen#dormant .list .ad.cat28 a:before,
.screen#shippable .list .ad.cat28 a:before,
.screen#immaterial .list .ad.cat28 a:before,
.screen#luxuries .list .ad.cat28 a:before {
	/* Animaux */

	content: url("img/FontAwesome/svg/dog-solid.svg");
}

.screen#actu .list .ad.cat29 a:before,
.screen#dormant .list .ad.cat29 a:before,
.screen#shippable .list .ad.cat29 a:before,
.screen#immaterial .list .ad.cat29 a:before,
.screen#luxuries .list .ad.cat29 a:before {
	/* Sports & Hobbies */

	content: url("img/FontAwesome/svg/baseball-bat-ball-solid.svg");
}

.screen#actu .list .ad.cat30 a:before,
.screen#dormant .list .ad.cat30 a:before,
.screen#shippable .list .ad.cat30 a:before,
.screen#immaterial .list .ad.cat30 a:before,
.screen#luxuries .list .ad.cat30 a:before {
	/* Instruments de musique */

	content: url("img/FontAwesome/svg/guitar-solid.svg");
}

.screen#actu .list .ad.cat34 a:before,
.screen#dormant .list .ad.cat34 a:before,
.screen#shippable .list .ad.cat34 a:before,
.screen#immaterial .list .ad.cat34 a:before,
.screen#luxuries .list .ad.cat34 a:before {
	/* Prestations de services */

	content: url("img/FontAwesome/svg/handshake-angle-solid.svg");
}

.screen#actu .list .ad.cat36 a:before,
.screen#dormant .list .ad.cat36 a:before,
.screen#shippable .list .ad.cat36 a:before,
.screen#immaterial .list .ad.cat36 a:before,
.screen#luxuries .list .ad.cat36 a:before {
	/* Cours particuliers */

	content: url("img/FontAwesome/svg/person-chalkboard-solid.svg");
}

.screen#actu .list .ad.cat38 a:before,
.screen#dormant .list .ad.cat38 a:before,
.screen#shippable .list .ad.cat38 a:before,
.screen#immaterial .list .ad.cat38 a:before,
.screen#luxuries .list .ad.cat38 a:before {
	/* Autres */

	content: url("img/FontAwesome/svg/question-solid.svg");
}

.screen#actu .list .ad.cat39 a:before,
.screen#dormant .list .ad.cat39 a:before,
.screen#shippable .list .ad.cat39 a:before,
.screen#immaterial .list .ad.cat39 a:before,
.screen#luxuries .list .ad.cat39 a:before {
	/* Décoration */

	content: url("img/FontAwesome/svg/holly-berry-solid.svg");
}

.screen#actu .list .ad.cat40 a:before,
.screen#dormant .list .ad.cat40 a:before,
.screen#shippable .list .ad.cat40 a:before,
.screen#immaterial .list .ad.cat40 a:before,
.screen#luxuries .list .ad.cat40 a:before {
	/* Collection */

	content: url("img/FontAwesome/svg/gem-regular.svg");
}

.screen#actu .list .ad.cat41 a:before,
.screen#dormant .list .ad.cat41 a:before,
.screen#shippable .list .ad.cat41 a:before,
.screen#immaterial .list .ad.cat41 a:before,
.screen#luxuries .list .ad.cat41 a:before {
	/* Jeux */

	content: url("img/FontAwesome/svg/chess-knight-solid.svg");
}

.screen#actu .list .ad.cat42 a:before,
.screen#dormant .list .ad.cat42 a:before,
.screen#shippable .list .ad.cat42 a:before,
.screen#immaterial .list .ad.cat42 a:before,
.screen#luxuries .list .ad.cat42 a:before {
	/* Montres et Bijoux */

	content: url("img/FontAwesome/svg/ring-solid.svg");
}

.screen#actu .list .ad.cat45 a:before,
.screen#dormant .list .ad.cat45 a:before,
.screen#shippable .list .ad.cat45 a:before,
.screen#immaterial .list .ad.cat45 a:before,
.screen#luxuries .list .ad.cat45 a:before {
	/* Arts de la table */

	content: url("img/FontAwesome/svg/wine-glass-empty-solid.svg");
}

.screen#actu .list .ad.cat46 a:before,
.screen#dormant .list .ad.cat46 a:before,
.screen#shippable .list .ad.cat46 a:before,
.screen#immaterial .list .ad.cat46 a:before,
.screen#luxuries .list .ad.cat46 a:before {
	/* Linge de maison */

	content: url("img/FontAwesome/svg/mattress-pillow-solid.svg");
}

.screen#actu .list .ad.cat47 a:before,
.screen#dormant .list .ad.cat47 a:before,
.screen#shippable .list .ad.cat47 a:before,
.screen#immaterial .list .ad.cat47 a:before,
.screen#luxuries .list .ad.cat47 a:before {
	/* Accessoires & Bagagerie */

	content: url("img/FontAwesome/svg/suitcase-rolling-solid.svg");
}
.screen#actu .list .ad.cat48 a:before,
.screen#dormant .list .ad.cat48 a:before,
.screen#shippable .list .ad.cat48 a:before,
.screen#immaterial .list .ad.cat48 a:before,
.screen#luxuries .list .ad.cat48 a:before {
	/* Divers (sous-catégorie de "Alimentation", en théorie) */

	content: url("img/FontAwesome/svg/question-solid.svg");
}

.screen#actu .list .ad.cat49 a:before,
.screen#dormant .list .ad.cat49 a:before,
.screen#shippable .list .ad.cat49 a:before,
.screen#immaterial .list .ad.cat49 a:before,
.screen#luxuries .list .ad.cat49 a:before {
	/* Évènements */

	content: url("img/FontAwesome/svg/calendar-check-regular.svg");
}

.screen#actu .list .ad.cat50 a:before,
.screen#dormant .list .ad.cat50 a:before,
.screen#shippable .list .ad.cat50 a:before,
.screen#immaterial .list .ad.cat50 a:before,
.screen#luxuries .list .ad.cat50 a:before {
	/* Equipement Caravaning */

	content: url("img/FontAwesome/svg/caravan-solid.svg");
}

.screen#actu .list .ad.cat52 a:before,
.screen#dormant .list .ad.cat52 a:before,
.screen#shippable .list .ad.cat52 a:before,
.screen#immaterial .list .ad.cat52 a:before,
.screen#luxuries .list .ad.cat52 a:before {
	/* Jardinage */

	content: url("img/FontAwesome/svg/seedling-solid.svg");
}

.screen#actu .list .ad.cat53 a:before,
.screen#dormant .list .ad.cat53 a:before,
.screen#shippable .list .ad.cat53 a:before,
.screen#immaterial .list .ad.cat53 a:before,
.screen#luxuries .list .ad.cat53 a:before {
	/* Chaussures */

	content: url("img/FontAwesome/svg/shoe-prints-solid.svg");
}

.screen#actu .list .ad.cat54 a:before,
.screen#dormant .list .ad.cat54 a:before,
.screen#shippable .list .ad.cat54 a:before,
.screen#immaterial .list .ad.cat54 a:before,
.screen#luxuries .list .ad.cat54 a:before {
	/* Vêtements bébé */

	content: url("img/FontAwesome/svg/baby-solid.svg");
}

.screen#actu .list .ad.cat58 a:before,
.screen#dormant .list .ad.cat58 a:before,
.screen#shippable .list .ad.cat58 a:before,
.screen#immaterial .list .ad.cat58 a:before,
.screen#luxuries .list .ad.cat58 a:before {
	/* Transport - Manutention */

	content: url("img/FontAwesome/svg/truck-solid.svg");
}

.screen#actu .list .ad.cat63 a:before,
.screen#dormant .list .ad.cat63 a:before,
.screen#shippable .list .ad.cat63 a:before,
.screen#immaterial .list .ad.cat63 a:before,
.screen#luxuries .list .ad.cat63 a:before {
	/* Commerces et Marchés */

	content: url("img/FontAwesome/svg/store-solid.svg");
}

.screen#actu .list .ad.cat70 a:before,
.screen#dormant .list .ad.cat70 a:before,
.screen#shippable .list .ad.cat70 a:before,
.screen#immaterial .list .ad.cat70 a:before,
.screen#luxuries .list .ad.cat70 a:before {
	/* Formations */

	content: url("img/FontAwesome/svg/igloo-solid.svg");
}

.screen#actu .list .ad.cat74 a:before,
.screen#dormant .list .ad.cat74 a:before,
.screen#shippable .list .ad.cat74 a:before,
.screen#immaterial .list .ad.cat74 a:before,
.screen#luxuries .list .ad.cat74 a:before {
	/* Formations */

	content: url("img/FontAwesome/svg/graduation-cap-solid.svg");
}

.screen#actu .list .ad.cat81 a:before,
.screen#dormant .list .ad.cat81 a:before,
.screen#shippable .list .ad.cat81 a:before,
.screen#immaterial .list .ad.cat81 a:before,
.screen#luxuries .list .ad.cat81 a:before {
	/* Soins */

	content: url("img/FontAwesome/svg/life-ring-solid.svg");
}

.screen#actu .list .ad.cat91 a:before,
.screen#dormant .list .ad.cat91 a:before,
.screen#shippable .list .ad.cat91 a:before,
.screen#immaterial .list .ad.cat91 a:before,
.screen#luxuries .list .ad.cat91 a:before {
	/* Commerces & Marchés */

	content: url("img/FontAwesome/svg/store-solid.svg");
}

.screen#actu .list .ad.cat92 a:before,
.screen#dormant .list .ad.cat92 a:before,
.screen#shippable .list .ad.cat92 a:before,
.screen#immaterial .list .ad.cat92 a:before,
.screen#luxuries .list .ad.cat92 a:before {
	/* Fruits et légumes */

	content: url("img/FontAwesome/svg/carrot-solid.svg");
}

.screen#actu .list .ad.cat93 a:before,
.screen#dormant .list .ad.cat93 a:before,
.screen#shippable .list .ad.cat93 a:before,
.screen#immaterial .list .ad.cat93 a:before,
.screen#luxuries .list .ad.cat93 a:before {
	/* Pains & Pâtisserie */

	content: url("img/FontAwesome/svg/egg-solid.svg");
}

.screen#actu .list .ad.cat94 a:before,
.screen#dormant .list .ad.cat94 a:before,
.screen#shippable .list .ad.cat94 a:before,
.screen#immaterial .list .ad.cat94 a:before,
.screen#luxuries .list .ad.cat94 a:before {
	/* Frais */

	content: url("img/FontAwesome/svg/egg-solid.svg");
}

.screen#actu .list .ad.cat95 a:before,
.screen#dormant .list .ad.cat95 a:before,
.screen#shippable .list .ad.cat95 a:before,
.screen#immaterial .list .ad.cat95 a:before,
.screen#luxuries .list .ad.cat95 a:before {
	/* Épicerie salée */

	content: url("img/FontAwesome/svg/pepper-hot-solid.svg");
}

.screen#actu .list .ad.cat98 a:before,
.screen#dormant .list .ad.cat98 a:before,
.screen#shippable .list .ad.cat98 a:before,
.screen#immaterial .list .ad.cat98 a:before,
.screen#luxuries .list .ad.cat98 a:before {
	/* Vêtements bébé */

	content: url("img/FontAwesome/svg/person-breastfeeding-solid.svg");
}




/* ======================== Localization ======================== */

.screen.loading:after {

	content: url("./img/loading.gif");
}

html[lang="fr"] .screen.loading:after {

	content: "Chargement des données depuis la nébuleuse…";
}

html[lang="en"] .screen.loading:after {

	content: "ALL YOUR BASE ARE BELONG TO US.";
}

